// Common styles for Home Page
@use '../../core' as *;

.p-home-products__header,
.p-home-overview__header,
.p-home-contact__header {
	.p-home-products__hgroup,
	.p-home-overview__hgroup,
	.p-home-contact__hgroup {
		.--en {
			color: var(--color-corporate-green);
			@include font-size(35);
			font-family: var(--font-roman);
			line-height: var(--line-height-sm);

			@include mq(tab) {
				@include font-size(72);
			}
		}

		.--heading {
			@include font-size(18);
			margin-block-start: 8px;

			@include mq(tab) {
				@include font-size(24);
			}
		}
	}
}
