// Overview
@use '../../core' as *;

.p-home-overview {
	.p-home-overview__header {
		max-width: var(--contents-width);
		margin-inline: auto;
		padding-inline: 20px;
		padding-block: 40px;

		@include mq(tab) {
			padding-block: 80px;
		}

		@include mq(xl) {
			padding-inline: 0;
		}

		.p-home-overview__hgroup {
			.--en {
			}

			.--heading {
			}
		}
	}

	.p-home-overview__list {
		@include mq(tab) {
		}
	}
}

.p-home-overview {
	background-color: var(--color-white);

	.--division {
		list-style: none;
		margin: 0;
		padding: 0;

		@include mq(tab) {
		}
	}

	.--division__item {
		@include mq(tab) {
		}
	}

	.--division__inner {
		--division-image-pc: initial;

		position: relative;

		@include mq(tab) {
			border-top: 1px solid var(--color-achromatic-secondary-100);
			cursor: pointer;
		}

		&:before {
			@include mq(tab) {
				background-image: var(--division-image-pc);
			}
		}

		&:after {
			@include mq(tab) {
				background-color: oklch(from var(--color-achromatic-secondary-900) l c h / 60%);
			}
		}

		&:before,
		&:after {
			@include mq(tab) {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				@include transition();
				opacity: 0;
				z-index: 0;
			}
		}

		&:hover {
			@include mq(tab) {
				&:before,
				&:after {
					opacity: 1;
				}

				.--division__content {
					color: var(--color-white);
				}
			}
		}
	}

	.--division__link {
		position: absolute;
		inset: 0;
		z-index: 2;
		display: block;
	}

	.--division__content {
		container-type: inline-size;
		position: relative;
		border-top: 1px solid var(--color-achromatic-secondary-100);
		@include transition();
		z-index: +1;

		@include mq(tab) {
			display: grid;
			grid-template-columns: 400px 1fr 50px;
			align-items: center;
			gap: 80px;

			//display: flex;
			max-width: var(--contents-width);
			min-height: 236px;
			border: none;
			margin-inline: auto;
			padding-inline: 20px;
			padding-block: 40px;
		}

		@include mq(xl) {
			padding-inline: 0;
		}

		&:after {
			@include mq(tab) {
				content: '';
				inline-size: 50px;
				block-size: 50px;
				background-color: var(--color-corporate-green);
				background-image: url('/assets/images/common/icon_arrow_white.svg');
				background-position: center;
				background-repeat: no-repeat;
				background-size: 14px auto;
			}
		}
	}

	.--division__title {
		margin: 0;
	}

	.ui-enter-active,
	.ui-leave-active,
	.description-enter-active,
	.description-leave-active {
		@include transition();
		overflow: hidden;
	}

	.panel.ui-enter-to,
	.panel.ui-leave-from,
	.description-enter-to,
	.description-leave-from {
		height: var(--ui-transition-height);
	}

	.panel.ui-enter-from,
	.panel.ui-leave-to,
	.description-enter-from,
	.description-leave-to {
		opacity: 0;
		height: 0;
	}

	.--division__trigger {
		all: unset;
		display: flex;
		align-items: center;
		gap: 8px;
		position: relative;
		@include font-size(20);
		line-height: var(--line-height-reset);
		width: 100%;
		//border: none;
		padding-inline: 20px;
		padding-block: 24px;
		box-sizing: border-box;
		cursor: pointer;

		@include mq(tab) {
			@include font-size(36);
			padding: 0;
			cursor: auto;
		}

		h3 {
			font-size: inherit;

			i {
				inline-size: 12px;
				block-size: 12px;
				@include icon-mask($color: var(--color-corporate-green), $image: '/assets/images/common/icon_diamond.svg');

				@include mq(tab) {
					display: none;
				}
			}
		}
	}

	/* + アイコン（横棒・縦棒） */
	.--division__trigger::before,
	.--division__trigger::after {
		content: '';
		position: absolute;
		right: 20px;
		top: 50%;
		width: 16px;
		height: 2px;
		background-color: var(--color-corporate-green);
		transform: translateY(-50%);
		@include transition();

		@include mq(tab) {
			display: none;
		}
	}

	.--division__trigger::after {
		transform: translateY(-50%) rotate(90deg);
	}

	.--division__trigger.ui-active::after {
		opacity: 0;
		transform: translateY(-50%) rotate(180deg);
	}

	.--division__description {
		padding-inline: 20px;
		padding-block: 0;
		overflow: hidden;
		@include transition();

		@include mq(tab) {
			//max-height: unset;
			height: unset;
			padding-inline: 0;
		}

		p {
			@include font-size(14);

			@include mq(tab) {
				@include font-size(16);
			}
		}

		& > .c-button {
			margin-block-start: 24px;

			@include mq(tab) {
				display: none;
			}
		}

		& > figure {
			--negative-margin: calc((100% - 100cqi) / 2);

			display: block;
			position: relative;
			width: 100vw;
			margin-inline: var(--negative-margin);
			margin-block-start: 24px;

			@include mq(tab) {
				display: none;
			}
		}
	}

	.--division__description[hidden] {
		display: none !important;

		@include mq(tab) {
		}
	}
}
