Thumbs.db
Desktop.ini
.DS_Strore
*.exe
._
Icon
Icon\r

Local/conf/*
Local/logs/*
Local/app/.envrc
# Local/app/sql/local.sql

Local/app/public/admin/Adminer/*
Local/app/public/admin/Search-Replace-DB-master/*
Local/app/public/admin/wp-admin/*
Local/app/public/admin/wp-content/languages/*
Local/!app/public/admin/wp-content/plugins/
Local/app/public/admin/wp-content/plugins/*
Local/!app/public/admin/wp-content/plugins/article-feedback/
Local/!app/public/admin/wp-content/plugins/article-feedback/**
Local/app/public/admin/wp-content/siteguard/*
Local/app/public/admin/wp-content/upgrade/*
Local/app/public/admin/wp-content/uploads/*
Local/app/public/admin/wp-content/index.php
Local/app/public/admin/wp-includes/*
Local/app/public/admin/license.txt
Local/app/public/admin/readme.html
Local/app/public/admin/xmlrpc.php
Local/app/public/admin/wp-*.php
Local/app/public/admin/wp-*.php
# Local/app/public/assets/uploads
Local/app/public/local-phpinfo.php
Local/app/public/admin/local-xdebuginfo.php


conf/*
logs/*

*.code-workspace
memo.txt
Local/app/sql/local.sql
