@use '../../core/index' as *;

// メインビジュアルカルーセル
.p-douhaku-visual-carousel {
	--negative-margin: calc((100% - 100cqi) / 2);
	position: relative;
	margin: 0 var(--negative-margin) 40px;
	padding-inline: 0;
	padding-block: 0;
}

.p-douhaku-visual-carousel__item {
	margin: 0;
}

.p-douhaku-visual-carousel__figure {
	margin: 0;
	overflow: hidden;
}

.p-douhaku-visual-carousel__link {
	display: block;

	&:hover {
		@include any-hover {
			.p-douhaku-visual-carousel__image {
				scale: 1.08;
			}
		}
	}
}

.p-douhaku-visual-carousel__image {
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
	@include transition();
}

.p-douhaku-visual-carousel__arrows {
	display: none;
}

.p-douhaku-visual-carousel__pagination {
	display: flex;
	justify-content: center;
	gap: 8px;
	padding: 0;
	margin-block-start: 16px;
	list-style: none;
	position: static;

	.splide__pagination__page {
		display: block;
		width: 40px;
		height: 3px;
		border: none;
		border-radius: 0;
		padding: 0;
		margin: 0;
		background-color: var(--color-achromatic-secondary-100);
		cursor: pointer;
		@include transition();

		&.is-active {
			background-color: var(--color-corporate-green);
			transform: none;
		}

		@include mq(tab) {
			width: 80px;
		}
	}
}

.p-douhaku-hero__title {
	@include font-size(28);
	font-weight: 700;
	color: var(--color-douhaku-black);
	margin: 0;
	padding: 0;
	line-height: 1.4;
	letter-spacing: var(--letter-spacing-heading);
	text-align: center;

	&::before {
		display: none;
	}

	@include mq(tab) {
		@include font-size(42);
	}

	span {
		background: linear-gradient(var(--color-corporate-green-3), var(--color-corporate-green-2));
		color: transparent;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.p-douhaku-hero__body {
	display: grid;
	grid-template-columns: 1fr;
	gap: 32px;
	margin-block-start: 32px;

	@include mq(tab) {
		grid-template-columns: 1fr 1fr;
		gap: 64px;
		margin-block-start: 64px;
	}
}

.p-douhaku-hero__visual {
	margin: 0;

	img {
		display: block;
		width: 100%;
	}
}

.p-douhaku-hero__text {
	width: fit-content;
	margin-inline: auto;

	@include mq(tab) {
		width: auto;
		margin-inline: unset;
	}

	p {
		@include font-size(20);
		font-weight: 700;
		margin: 0;
		line-height: 1.8;
		letter-spacing: var(--letter-spacing-heading);

		@include mq(tab) {
			@include font-size(24);
		}
	}
}

.p-douhaku-team-beyon {
	background-color: var(--color-white);
	margin-block-start: 40px;
	padding: 40px 24px;

	@include mq(tab) {
		padding: 60px;
		margin-block-start: 64px;
	}
}

.p-douhaku-team-beyon__logo {
	display: block;
	margin: 0 auto;
	max-width: 320px;
	width: 100%;
	height: auto;

	@include mq(tab) {
		max-width: 361px;
	}
}

.p-douhaku-team-beyon__text {
	@include font-size(16);
	color: var(--color-douhaku-black);
	margin: 24px 0 0;
	line-height: 1.8;
	letter-spacing: var(--letter-spacing-heading);

	@include mq(tab) {
		@include font-size(20);
		margin-block-start: 32px;
		text-align: center;
	}
}
