// Main
@use '../core' as *;

.l-main {
	container-type: inline-size;
	position: relative;
	top: 0;
	background-color: var(--color-achromatic-50);
	padding-block-start: var(--header-height-sp);
	overflow: clip;

	@include mq(tab-lg) {
		padding-block-start: var(--header-height-tab);
	}
}

.l-main__inner {
	position: relative;
	width: min(var(--contents-width), 100%);
	min-height: 300px;
	margin-inline: auto;
	padding-inline: 20px;
	//box-sizing: revert;

	@include mq(xl) {
		padding-inline: 0;
	}
}

.is-header-transparent,
.is-header-transparent-close {
	.l-main {
		padding-block-start: 0;

		@include mq(tab-lg) {
		}
	}
}
