// Section
@use '../core' as *;

.l-section,
.l-entry-content .l-section {
	container-type: initial;
	position: relative;
	padding-block: 64px;
	z-index: 1;

	@include mq(tab) {
		padding-block: 120px;
	}

	&.l-section--full {
		--negative-margin: calc((100% - 100cqi) / 2);
		position: relative;
		margin-inline: var(--negative-margin);
		padding-inline: abs(var(--negative-margin));
	}

	&.l-section--wide {
		--negative-margin: calc((100% - 100cqi) / 2);
		position: relative;
		margin-inline: var(--negative-margin);
		padding-inline: 0;
	}

	&.l-section--white {
		background-color: var(--color-white);
	}

	&.l-section--black {
		background-color: var(--color-achromatic-secondary-900);
	}

	&.l-section--gray-light {
		background-color: var(--color-achromatic-50);
	}

	&.l-section--gray {
		background-color: var(--color-achromatic-100);
	}

	&.l-section--green {
		background-color: var(--color-corporate-green);
	}

	&.l-section--yellow {
		background-color: var(--color-corporate-yellow);
	}

	&.l-section--blue-light {
		background-color: var(--color-douhaku-blue-1);
	}

	&.l-section--gradient-to-bottom {
		background: linear-gradient(var(--l-section-gradient-start, #eff9fd) 0%, var(--l-section-gradient-end, #dbf2fe) 100%);
	}

	&.l-section--padding-sm {
		padding-block: 40px;

		@include mq(tab) {
			padding-block: 40px;
		}
	}

	&.l-section--padding-md {
		padding-block-start: 40px;

		@include mq(tab) {
			padding-block-start: 80px;
		}
	}

	&.l-section--no-padding {
		padding-block: 0;

		@include mq(tab) {
			padding-block: 0;
		}
	}

	&.l-section--no-padding-top {
		padding-block-start: 0;

		@include mq(tab) {
			padding-block-start: 0;
		}
	}

	&.l-section--no-padding-bottom {
		padding-block-end: 0;

		@include mq(tab) {
			padding-block-end: 0;
		}
	}

	@at-root .l-contents__body & {
		&.l-section--full {
			@include mq(tab) {
				width: calc(100% + var(--aside-width-tab) + var(--aside-gap-tab));
				margin-inline: unset;
				padding-inline: unset;
				padding-inline: 0 calc(var(--aside-width-tab) + var(--aside-gap-tab));
			}

			@include mq(pc) {
				width: calc(100% + var(--aside-width-tab) + var(--aside-gap-pc));
				padding-inline: 0 calc(var(--aside-width-tab) + var(--aside-gap-pc));
			}

			&:before {
				content: '';
				position: absolute;
				inset: 0;
				left: 50%;
				right: 50%;
				margin-left: -50vw;
				margin-right: -50vw;
				z-index: -1;
			}
		}

		&.l-section--white,
		&.l-section--black,
		&.l-section--gray-light,
		&.l-section--gray,
		&.l-section--green,
		&.l-section--yellow {
			background-color: transparent;
		}

		&.l-section--white {
			&:before {
				background-color: var(--color-white);
			}
		}

		&.l-section--black {
			&:before {
				background-color: var(--color-achromatic-secondary-900);
			}
		}

		&.l-section--gray-light {
			&:before {
				background-color: var(--color-achromatic-50);
			}
		}

		&.l-section--gray {
			&:before {
				background-color: var(--color-achromatic-100);
			}
		}

		&.l-section--green {
			&:before {
				background-color: var(--color-corporate-green);
			}
		}

		&.l-section--yellow {
			&:before {
				background-color: var(--color-corporate-yellow);
			}
		}
	}

	& > .l-section__base {
		position: absolute;
		inset: 0;
		z-index: -1;

		img {
			inline-size: 100%;
			block-size: 100%;
			object-fit: cover;
		}

		&.--gradient {
			--gradient-color: var(--color-achromatic-secondary-900);

			&:before {
				content: '';
				display: block;
				position: absolute;
				inset: 0;
				inline-size: 100%;
				block-size: 100%;
				background-image: linear-gradient(to bottom right, oklch(from var(--gradient-color) l c h / 100%) 0%, oklch(from var(--gradient-color) l c h / 0%) 80%);
				z-index: 0;

				@include mq(tab) {
					background-image: linear-gradient(to right, oklch(from var(--gradient-color) l c h / 100%) 0%, oklch(from var(--gradient-color) l c h / 0%) 80%);
				}
			}
		}
	}

	&:first-child {
		> .c-heading--lv2 {
			margin-block-start: 0;
		}
		> * + .c-heading--lv2 {
			margin-block-start: 48px; // 前に要素がある場合だけ余白を付ける
		}
	}
}
