// Display
@use '../core' as *;

$displays: (
	'none': none,
	'inline-block': inline-block,
	'block': block
);

@each $display, $value in $displays {
	.u-display-#{$display} {
		display: $value;
	}

	@each $breakpoint, $breakpointValue in $breakpoints {
		@media (width >=#{$breakpointValue}) {
			.#{$breakpoint}\:u-display-#{$display} {
				display: $value;
			}
		}
	}
}
