// Font
@use 'sass:map';
@use '../core' as *;

// Font Family
.u-font-sans-serif {
	font-family: var(--font-sans-serif);
}

.u-font-serif {
	font-family: var(--font-serif);
}

.u-font-en,
.u-font-roman {
	font-family: var(--font-roman);
}

// Font Size
$fontSizes: (
	'10': 0.625rem,
	'12': 0.75rem,
	'14': 0.875rem,
	'16': 1rem,
	'18': 1.125rem,
	'20': 1.25rem,
	'24': 1.5rem,
	'28': 1.75rem,
	'32': 2rem,
	'64': 4rem,
	'128': 8rem
);

@each $fontSize, $fontValue in $fontSizes {
	.u-font-#{$fontSize} {
		font-size: $fontValue;
	}

	@each $breakpoint, $breakpointValue in $breakpoints {
		@media (width >= #{$breakpointValue}) {
			.#{$breakpoint}\:u-font-#{$fontSize} {
				font-size: $fontValue;
			}
		}
	}
}

$fontSizeAliases: (
	'2xs': '10',
	'xs': '12',
	'sm': '14',
	'base': '16',
	'lg': '18',
	'xl': '20',
	'2xl': '24',
	'3xl': '32',
	'5xl': '64',
	'7xl': '128'
);

@each $alias, $sizeKey in $fontSizeAliases {
	$fontValue: map.get($fontSizes, $sizeKey);

	.u-font-#{$alias} {
		font-size: $fontValue;
	}

	@each $breakpoint, $breakpointValue in $breakpoints {
		@media (width >= #{$breakpointValue}) {
			.#{$breakpoint}\:u-font-#{$alias} {
				font-size: $fontValue;
			}
		}
	}
}

// Font Weight
$fontWeights: (
	'normal': 400,
	'medium': 500,
	'bold': 700
);

.u-font {
	@each $fontWeight, $value in $fontWeights {
		&-#{$fontWeight} {
			font-weight: $value;
		}
	}
}
