// Picture
@use '../core' as *;

.u-picture {
	& {
		display: block;
		position: relative;
		width: 100%;
		height: 100%;
		margin-inline: auto;
		overflow: hidden;

		&.is-aspect4-3 {
			aspect-ratio: 4 / 3;
		}

		&.is-aspect1-1 {
			aspect-ratio: 1 / 1;
		}

		&.is-aspect16-9 {
			aspect-ratio: 16 / 9;
		}

		&.is-sp-width-full {
			@include mq(tab, down) {
				width: 100dvw;
				margin-inline: calc(-50dvw + 50%);
				padding-inline: 0;
			}
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			@include transition();
		}
	}
}
