// Visible
@use '../core' as *;

@include mq(md) {
	.u-sp-none,
	.is-sp-none {
		display: none;
	}
}

@include mq(md, down) {
	.u-pc-none,
	.is-pc-none {
		display: none;
	}
}

.u-pc,
.u-pc-only,
.is-pc-only {
	display: block;
}

@include mq(md) {
	.u-pc,
	.u-pc-only,
	.is-pc-only {
		display: none;
	}
}

.u-sp,
.u-sp-only,
.is-sp-only {
	display: none;
}

@include mq(md) {
	.u-sp,
	.u-sp-only,
	.is-sp-only {
		display: block;
	}
}

.is-tab-only {
	display: none;
}

@media (min-width: 768px) and (max-width: 1207px) {
	.is-tab-only {
		display: block;
	}
}

.u-disabled,
.is-disabled {
	color: rgba(112, 112, 112, 0.5) !important;
	filter: grayscale(100%);
	pointer-events: none;
}

.u-hidden,
.is-hidden {
	display: none !important;
}

.u-vhidden {
	position: absolute;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;

	&:focus {
		display: block;
		top: 10px;
		left: 10px;
		clip: auto !important;
		clip-path: none;
		color: var(--text-color);
		font-weight: 500;
		text-decoration: none;
		width: auto;
		height: auto;
		background: var(--c-secondary);
		padding: 16px 24px;
		border-radius: 6px;
		outline: 2px solid var(--c-primary);
		z-index: 1111;
	}
}
