// _fonts.scss

@layer base {
  @font-face {
    font-family: '0xProto';
    src: url('../../fonts/0xProto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Local Noto Sans JP';
    //src: local('Noto Sans JP'), local('Noto Sans Japanese'), local('Noto Sans CJK JP'), local('Noto Sans JP Regular'), local('Noto Sans JP Bold');
    src: local('Noto Sans JP'), local('NotoSansJP-Regular');
    //font-weight: 100 900;
    font-display: swap;
  }

  @font-face {
    font-family: 'Local Noto Sans JP';
    src: local('Noto Sans JP Light'), local('NotoSansJP-Light'), local('Noto Sans JP');
    font-weight: 300;
    font-display: swap;
  }

  @font-face {
    font-family: 'Local Noto Sans JP';
    src: local('Noto Sans JP Regular'), local('NotoSansJP-Regular'), local('Noto Sans JP');
    font-weight: 400;
    font-display: swap;
  }

  @font-face {
    font-family: 'Local Noto Sans JP';
    src: local('Noto Sans JP Medium'), local('NotoSansJP-Medium'), local('Noto Sans JP');
    font-weight: 500;
    font-display: swap;
  }

  @font-face {
    font-family: 'Local Noto Sans JP';
    src: local('Noto Sans JP SemiBold'), local('NotoSansJP-SemiBold'), local('Noto Sans JP');
    font-weight: 600;
    font-display: swap;
  }

  @font-face {
    font-family: 'Local Noto Sans JP';
    src: local('Noto Sans JP Bold'), local('NotoSansJP-Bold'), local('Noto Sans JP');
    font-weight: 700;
    font-display: swap;
  }
}
