// Anchor
@use '../core' as *;

// ボタン
.c-anchor,
.l-entry-content .c-anchor {
	display: flex;
	align-items: center;
	color: inherit;
	@include font-size(12);
	text-decoration: inherit;
	background-color: var(--color-white);
	border-radius: var(--radius-sm);
	padding: 6px 8px;
	@include transition();

	@include mq(tab) {
		@include font-size(18);
	}

	&:after {
		--icon-size: 10px;
		content: '';
		position: relative;
		top: 0;
		inline-size: var(--icon-size);
		block-size: var(--icon-size);
		@include icon-mask($color: var(--color-corporate-green), $image: '/assets/images/common/icon_down_arrow.svg');
		margin-inline-start: 8px;
		@include transition();
	}

	@include any-hover {
		&:hover {
			color: var(--color-corporate-green);

			&:after {
				top: 4px;
			}
		}
	}

	&.--keywords,
	&.--applications,
	&.--industries,
	&.--properties,
	&.--categories,
	&.--elements {
		padding: 3px 8px;

		&:before {
			--icon-size: 17px;
			content: '';
			inline-size: var(--icon-size);
			block-size: var(--icon-size);
			margin-inline-end: 6px;

			@include mq(tab) {
				--icon-size: 22px;
			}
		}
	}

	&.--keywords {
		&:before {
			@include icon-mask($color: var(--color-achromatic-secondary-700), $image: '/assets/images/common/icon_products_keywords.svg');
		}
	}

	&.--applications {
		&:before {
			@include icon-mask($color: var(--color-achromatic-secondary-700), $image: '/assets/images/common/icon_products_applications.svg');
		}
	}

	&.--industries {
		&:before {
			@include icon-mask($color: var(--color-achromatic-secondary-700), $image: '/assets/images/common/icon_products_industries.svg');
		}
	}

	&.--properties {
		&:before {
			@include icon-mask($color: var(--color-achromatic-secondary-700), $image: '/assets/images/common/icon_products_properties.svg');
		}
	}

	&.--categories {
		&:before {
			@include icon-mask($color: var(--color-achromatic-secondary-700), $image: '/assets/images/common/icon_products_categories.svg');
		}
	}

	&.--elements {
		&:before {
			@include icon-mask($color: var(--color-achromatic-secondary-700), $image: '/assets/images/common/icon_products_elements.svg');
		}
	}
}

// 囲み
.c-anchor-wrapper,
.l-entry-content .c-anchor-wrapper {
	background-color: var(--color-achromatic-100);
	padding: 20px;

	@include mq(tab) {
		padding: 40px;
	}
}

// リスト
.c-anchor-list,
.l-entry-content .c-anchor-list {
	display: flex;
	flex-wrap: wrap;
	//align-items: flex-start;
	gap: 8px;
	line-height: var(--line-height-reset);
	list-style: none;
	margin: 0;
	padding: 0;

	.c-anchor-list__item {
		margin: 0;
		padding: 0;

		&:before {
			display: none;
		}
	}
}
