// Button
@use '../core' as *;

.c-button,
.l-entry-content .c-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
	flex: 1 1 0%;
	position: relative;
	color: var(--text-color);
	@include font-size(14);
	font-weight: 700;
	text-align: left;
	text-decoration: none;
	width: 260px;
	min-height: 52px;
	background-color: var(--color-white);
	border: 1px solid var(--color-white);
	border-radius: var(--radius-xs);
	margin-inline: auto;
	padding-inline: 16px;
	padding-block: 12px;
	@include transition();

	&:after {
		--icon-size: 10px;
		content: '';
		flex: 0 0 auto;
		inline-size: var(--icon-size);
		block-size: var(--icon-size);
		@include icon-mask($color: var(--color-corporate-green), $image: '/assets/images/common/icon_arrow.svg');
	}

	&[target='_blank'] {
		&:after {
			@include icon-mask($color: var(--color-corporate-green), $image: '/assets/images/common/icon_exlink.svg');
		}
	}

	@include any-hover {
		&:hover {
			color: var(--text-color);
			background-color: var(--color-corporate-yellow);
			border: 1px solid var(--color-corporate-yellow);

			&[target='_blank'] {
				&:after {
				}
			}
		}
	}

	&.--fit {
		width: max-content;
	}

	&.--max {
		width: 100%;
	}

	&.--cta {
		@include font-size(15);

		@include mq(tab) {
			@include font-size(20);
			min-height: 77px;
		}
	}

	$inline-aligns: (
		'center': (
			margin-inline: auto
		),
		'left': (
			margin-inline: 0 auto
		),
		'right': (
			margin-inline: auto 0
		)
	);

	// --- base（メディアクエリ無し） ---
	@each $name, $props in $inline-aligns {
		&.--#{$name} {
			@each $prop, $val in $props {
				#{$prop}: $val;
			}
		}
	}

	// --- breakpoints: min（以上のとき / width >= breakpoint） ---
	@each $breakpoint, $breakpointValue in $breakpoints {
		@media (width >= #{$breakpointValue}) {
			@each $name, $props in $inline-aligns {
				&.#{$breakpoint}\:--#{$name} {
					@each $prop, $val in $props {
						#{$prop}: $val;
					}
				}
			}
		}
	}

	/*&.--center {
		margin-inline: auto;
	}

	&.--left {
		margin-inline: 0 auto;
	}

	&.--right {
		margin-inline: auto 0;
	}*/
}

.c-button-invert,
.l-entry-content .c-button-invert {
	color: var(--color-white);
	background-color: var(--text-color);
	border: 1px solid var(--text-color);

	@include any-hover {
		&:hover {
			&[target='_blank'] {
				&:after {
				}
			}
		}
	}
}

.c-button-clear,
.l-entry-content .c-button-clear {
	color: var(--color-white);
	background-color: var(--color-corporate-green);
	border: 1px solid var(--color-white);

	&:after {
		background-color: var(--color-white);
	}

	&[target='_blank'] {
		&:after {
			background-color: var(--color-white);
		}
	}

	@include any-hover {
		&:hover {
			&[target='_blank'] {
				&:after {
					background-color: var(--color-corporate-green);
				}
			}
		}
	}
}

.c-button-secondary,
.l-entry-content .c-button-secondary {
	color: var(--text--color-douhaku);
	background-color: var(--color-douhaku-achromatic-1);
	border: 1px solid var(--color-douhaku-achromatic-1);

	&:after {
		background-color: var(--color-corporate-green);
	}

	&[target='_blank'] {
		&:after {
			background-color: var(--color-white);
		}
	}

	@include any-hover {
		&:hover {
			&[target='_blank'] {
				&:after {
					background-color: var(--color-corporate-green);
				}
			}
		}
	}
}

.c-button-inquiry,
.l-entry-content .c-button-inquiry {
	justify-content: center;
	gap: 8px;
	width: 100%;
	//width: clamp(240px, 100%, 260px);
	background-color: var(--color-corporate-yellow);
	@include oklch-gradient(to bottom right, var(--color-corporate-yellow), var(--color-corporate-yellow-2));
	//border: 1px solid var(--color-corporate-yellow);
	border: none;

	@include mq(tab) {
		width: clamp(240px, 100%, 260px);
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--color-corporate-green);
		@include oklch-gradient(to bottom right, var(--color-corporate-green-3), var(--color-corporate-green-2));
		opacity: 0;
		@include transition();
	}

	&:after {
		display: none;
	}

	span {
		position: relative;
		z-index: +1;
	}

	i {
		position: relative;
		inline-size: 16px;
		block-size: 16px;
		@include icon-mask($color: var(--color-corporate-green), $image: '/assets/images/common/icon_mail.svg');
		@include transition();
		z-index: +1;
	}

	@include any-hover {
		&:hover {
			color: var(--color-white);
			//border: 1px solid var(--color-corporate-green);
			border: none;

			&:before {
				opacity: 1;
			}

			i {
				background-color: var(--color-white);
			}
		}
	}

	&.--fit {
		width: 260px;
	}
}

.c-button-download,
.l-entry-content .c-button-download {
	justify-content: center;
	gap: 8px;
	color: var(--color-white);
	width: 100%;
	//width: clamp(260px, 100%, 290px);
	background-color: var(--color-corporate-green);
	@include oklch-gradient(to bottom right, var(--color-corporate-green-3), var(--color-corporate-green-2));
	//border: 1px solid var(--color-corporate-green);
	border: none;

	@include mq(tab) {
		width: clamp(260px, 100%, 290px);
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--color-corporate-yellow);
		@include oklch-gradient(to bottom right, var(--color-corporate-yellow), var(--color-corporate-yellow-2));
		opacity: 0;
		@include transition();
	}

	&:after {
		display: none;
	}

	span {
		position: relative;
		z-index: +1;
	}

	i {
		position: relative;
		inline-size: 16px;
		block-size: 16px;
		@include icon-mask($color: var(--color-corporate-yellow), $image: '/assets/images/common/icon_download.svg');
		@include transition();
		z-index: +1;
	}

	@include any-hover {
		&:hover {
			color: var(--text-color);
			//border: 1px solid var(--color-corporate-yellow);
			border: none;

			&:before {
				opacity: 1;
			}

			i {
				background-color: var(--color-corporate-green);
			}
		}
	}
}

.c-button-download-invert,
.l-entry-content .c-button-download-invert {
	justify-content: center;
	gap: 8px;
	color: var(--color-corporate-green);
	width: 100%;
	//width: clamp(260px, 100%, 290px);
	background-color: var(--color-white);
	border: 1px solid var(--color-corporate-green);

	@include mq(tab) {
		width: clamp(260px, 100%, 290px);
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--color-corporate-green);
		opacity: 0;
		@include transition();
	}

	&:after {
		display: none;
	}

	span {
		position: relative;
		z-index: +1;
	}

	i {
		position: relative;
		inline-size: 16px;
		block-size: 16px;
		@include icon-mask($color: var(--color-corporate-green), $image: '/assets/images/common/icon_download.svg');
		@include transition();
		z-index: +1;
	}

	@include any-hover {
		&:hover {
			color: var(--color-white);
			border: 1px solid var(--color-corporate-green);

			&:before {
				opacity: 1;
			}

			i {
				background-color: var(--color-white);
			}
		}
	}
}

.c-button-specialsite,
.l-entry-content .c-button-specialsite {
	justify-content: center;
	gap: 8px;
	color: var(--color-white);
	width: 100%;
	//width: clamp(260px, 100%, 290px);
	background-color: var(--color-corporate-green);
	@include oklch-gradient(to bottom right, var(--color-corporate-green-3), var(--color-corporate-green-2));
	//border: 1px solid var(--color-corporate-green);
	border: none;

	@include mq(tab) {
		width: clamp(260px, 100%, 290px);
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--color-corporate-yellow);
		@include oklch-gradient(to bottom right, var(--color-corporate-yellow), var(--color-corporate-yellow-2));
		opacity: 0;
		@include transition();
	}

	&:after {
		display: none;
	}

	span {
		position: relative;
		z-index: +1;
	}

	@include any-hover {
		&:hover {
			color: var(--text-color);
			//border: 1px solid var(--color-corporate-yellow);
			border: none;

			&:before {
				opacity: 1;
			}
		}
	}
}

.c-button-exlink,
.l-entry-content .c-button-exlink {
	justify-content: center;
	gap: 8px;
	width: 100%;
	background-color: var(--color-white);
	//border: 1px solid var(--color-white);
	border: none;

	@include mq(tab) {
		width: clamp(240px, 100%, 260px);
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--color-corporate-green);
		@include oklch-gradient(to bottom right, var(--color-corporate-green-3), var(--color-corporate-green-2));
		opacity: 0;
		@include transition();
	}

	&:after {
		display: none;
	}

	span {
		position: relative;
		z-index: +1;
	}

	i {
		position: relative;
		inline-size: 10px;
		block-size: 10px;
		@include icon-mask($color: var(--color-corporate-green), $image: '/assets/images/common/icon_exlink.svg');
		@include transition();
		z-index: +1;
	}

	@include any-hover {
		&:hover {
			color: var(--color-white);
			//border: 1px solid var(--color-corporate-green);
			border: none;

			&:before {
				opacity: 1;
			}

			i {
				background-color: var(--color-white);
			}
		}
	}

	&.--fit {
		width: 260px;
	}
}
