// Carousel
@use '../core' as *;


// カルーセルのカードが画面表示数より少ない場合、両矢印を削除
.splide:not(.is-overflow) .c-carousel__arrows, .splide:not(.is-overflow) .splide__arrows {
  display: none;
}

.c-carousel,
.l-entry-content .c-carousel {
	position: relative;

	@include mq(xl, down) {
		--negative-margin: calc((100% - 100cqi) / 2);
		position: relative !important;
		margin-inline: var(--negative-margin) !important;
	}

	.c-carousel__track {
		@include mq(xl, down) {
			padding-inline: 20px !important;
		}
	}

	.c-carousel__list {
		position: relative;

		/*&:after {
			@include mq(xl, down) {
				content: '';
				display: block;
				width: 20px;
				height: 20px;
			}
		}*/
	}

	.c-carousel__item {
		margin-block-start: 0;
	}

	.c-carousel__arrows {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		//height: 100%;
		z-index: 0;
	}

	.c-carousel__arrow {
		--arrow-size: 40px;
		--image-height: 140px;

		display: grid;
		place-content: center;
		position: absolute;
		top: calc((var(--image-height) - var(--arrow-size)) / 2);
		inline-size: var(--arrow-size);
		block-size: var(--arrow-size);
		background-color: var(--color-corporate-green);
		border-radius: 0;
		transform: unset;
		opacity: 1;
		@include transition();
		z-index: +1;

		@include mq(tab) {
			--image-height: 171px;
		}

		@include mq(xl) {
			--arrow-size: 50px;
		}

		@at-root .p-gallery .--thumbnail .c-carousel__arrow {
			@include mq(tab) {
				--image-height: 140px;
			}

			@include mq(xl) {
				--arrow-size: 40px;
			}
		}

		i {
			text-indent: -9999px;
			text-decoration: none;
			inline-size: 0px;
			block-size: 0px;
			inline-size: 8px;
			block-size: 14px;
			@include transition();
			overflow: hidden;
		}

		&.--prev {
			left: 0;

			@include mq(xl) {
				left: -60px;
			}

			i {
				@include icon-mask($color: var(--color-white), $image: '/assets/images/common/icon_pagination_prev.svg');
			}
		}

		&.--next {
			right: 0;

			@include mq(xl) {
				right: -60px;
			}

			i {
				@include icon-mask($color: var(--color-white), $image: '/assets/images/common/icon_pagination_next.svg');
			}
		}

		&:hover {
			opacity: 1;

			@include any-hover {
				background-color: var(--color-corporate-yellow);

				i {
					background-color: var(--color-corporate-green);
				}
			}
		}

		&:disabled {
			background-color: var(--color-achromatic-200);
			pointer-events: none;

			i {
				background-color: var(--color-achromatic-secondary-400);
			}
		}
	}

	.c-carousel__pagination {
		display: flex;
		bottom: 0;
		flex-wrap: nowrap;
		justify-content: center;
		list-style: none;
		margin: 0;
		padding-inline: 20px;

		@include mq(xl) {
			padding-inline: 0;
		}

		li {
			position: relative;
			width: 100%;
			height: 2px;
			margin: 0;
			padding: 0;

			&:before {
				display: none;
			}

			.splide__pagination__page {
				display: block;
				inline-size: 100%;
				block-size: 2px;
				width: unset;
				height: unset;
				background-color: var(--color-achromatic-secondary-100);
				border-radius: 0;
				margin: 0;
				padding: 0;
				opacity: 1;
				transform: scale(1);

				&.is-active {
					background-color: var(--color-corporate-green);
				}
			}
		}
	}

	&.--white {
		color: var(--color-white);

		.c-carousel__arrow {
			background-color: var(--color-achromatic-secondary-900);

			&:disabled {
				opacity: 0;
				pointer-events: none;
			}
		}
	}
}
