// Category
@use '../core' as *;

.c-category,
.l-entry-content .c-category {
	display: flex;
	align-items: center;
	color: inherit;
	@include font-size(14);
	background-color: var(--color-white);
	border-radius: var(--radius-sm);
	padding: 8px 16px;
	@include transition();

	@include mq(tab) {
		font-size: inherit;
	}

	&.is-current {
		color: var(--color-white);
		background-color: var(--color-corporate-green);
	}

	@include any-hover {
		&:hover {
			color: var(--color-corporate-green);

			&.is-current {
				color: var(--color-corporate-yellow);
			}
		}
	}

	@at-root .c-box.c-box--white {
		.c-category {
			background-color: var(--color-achromatic-50);

			&.is-current {
				background-color: var(--color-corporate-green);
			}
		}
	}
}

// 囲み
.c-category-container,
.l-entry-content .c-category-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 16px;
	border-top: 1px solid var(--color-achromatic-secondary-100);
	margin-block-start: 16px;
	padding-block-start: 16px;

	@include mq(tab) {
		grid-template-columns: 133px 1fr;
		gap: 0;
		align-items: start;
		margin-block-start: 24px;
		padding-block-start: 24px;
	}

	&.--column {
		@include mq(tab) {
			grid-template-columns: 1fr;
			gap: 16px;
		}
	}

	&:nth-child(1 of .c-category-container) {
		border-top: none;
		margin-block-start: 0;
		padding-block-start: 0;
	}
}

// タイトル
.c-category-title,
.l-entry-content .c-category-title {
	@include font-size(18);
	font-weight: 700;
	//line-height: var(--line-height-reset);
	letter-spacing: var(--letter-spacing-heading);
	margin: 0;

	@include mq(tab) {
		@include font-size(20);
	}
}

// リスト
.c-category-list,
.l-entry-content .c-category-list {
	display: flex;
	flex-wrap: wrap;
	//align-items: flex-start;
	gap: 8px;
	line-height: var(--line-height-reset);
	margin: 0;
	padding: 0;
	list-style: none;

	.c-category-list__item {
		margin: 0;
		padding: 0;

		&:before {
			display: none;
		}

		& > a {
			text-decoration: inherit;
		}
	}
}

// 表示
.c-category-displayed,
.l-entry-content .c-category-displayed {
	display: grid;
	grid-template-columns: 55px 1fr;
	gap: 8px;
	align-items: start;
	background-color: var(--color-achromatic-100);
	padding-inline: 20px;
	padding-block: 20px;

	@include mq(tab) {
		grid-template-columns: 65px 1fr;
	}

	.c-category-title {
		color: var(--color-achromatic-secondary-700);
		@include font-size(14);
		font-weight: 400;
		line-height: var(--line-height-reset);
		background-color: var(--color-achromatic-200);
		border-radius: var(--radius-sm);
		margin: 0;
		padding-inline: 8px;
		padding-block: 6px;

		@include mq(tab) {
			@include font-size(18);
		}
	}

	.c-category-list {
		row-gap: 4px;
		column-gap: 8px;
	}

	.c-category-list__item {
		display: flex;
		align-items: center;
		gap: 8px;
		margin: 0;

		&:not(:last-child) {
			&:after {
				content: '';
				inline-size: 10px;
				block-size: 10px;
				@include icon-mask($color: var(--color-achromatic-secondary-500), $image: '/assets/images/common/icon_arrow.svg');
			}
		}

		&:before {
			display: none;
		}
	}

	.c-category {
		@include font-size(14);
		background-color: transparent;
		border-radius: unset;
		margin: 0;
		padding-inline: 0;
		padding-block: 4px;

		@include mq(tab) {
			@include font-size(18);
		}
		@include any-hover {
			&:hover {
				color: currentColor;
			}
		}
	}
}
