// Heading
@use '../core' as *;

.c-heading {
}

// Decoration
.c-heading--lv2,
.c-heading--lv3,
.c-heading--lv4,
.l-entry-content :where(h2:not(.no-decoration)),
.l-entry-content :where(h3:not(.no-decoration)),
.l-entry-content :where(h4:not(.no-decoration)) {
	position: relative;
	font-weight: 700;
	letter-spacing: var(--letter-spacing-heading);
	line-height: var(--line-height-md);

	&.--white {
		color: var(--color-white);
	}

	.--displayed {
		color: var(--color-achromatic-secondary-500);
		@include font-size(12);
		line-height: var(--line-height-reset);
		background-color: var(--color-achromatic-100);
		border-radius: var(--radius-sm);
		padding-inline: 8px;
		padding-block: 6px;

		@include mq(tab) {
			@include font-size(18);
		}

		@at-root .c-heading--lv2:has(.--displayed),
			.c-heading--lv3:has(.--displayed),
			.c-heading--lv4:has(.--displayed) {
			display: flex;
			align-items: center;
			gap: 16px;
		}
	}

  &.--text-center {
    text-align: center;
  }
}

.c-heading--lv2:not(.no-decoration),
//.l-entry-content .c-heading--lv2:not(.no-decoration),
.l-entry-content :where(h2:not(.no-decoration)) {
	@include font-size(24);
	margin-block: 40px 32px;

	@include mq(tab) {
		@include font-size(32);
		margin-block: 48px 40px;
	}

	&.--border {
		padding-block-end: 12px;

		@include mq(tab) {
			padding-block-end: 16px;
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			inline-size: 48px;
			block-size: 3px;
			background-color: var(--color-corporate-yellow);
			background: linear-gradient(to right, oklch(from var(--color-corporate-green) l c h / 100%) 40px, oklch(from var(--color-corporate-yellow) l c h / 100%) 40px);

			@include mq(tab) {
			}
		}

		&.--text-center {
			&::before {
				left: calc(50% - 24px);
			}
		}

		&.--white {
			color: var(--color-white);

			&:before {
				background-color: var(--color-white);
				background: linear-gradient(to right, oklch(from var(--color-white) l c h / 100%) 40px, oklch(from var(--color-corporate-yellow) l c h / 100%) 40px);
			}
		}

		&.--white-green {
			color: var(--color-white);

			&:before {
			}
		}
	}

	&.--underline,
	&:where(h2:not(.no-decoration)) {
		padding-block-end: 12px;

		@include mq(tab) {
			padding-block-end: 16px;
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			inline-size: 100%;
			block-size: 1px;
			background-color: var(--color-achromatic-secondary-100);
			background: linear-gradient(to right, oklch(from var(--color-corporate-green) l c h / 100%) 20px, oklch(from var(--color-achromatic-secondary-100) l c h / 100%) 20px);

			@include mq(tab) {
			}
		}

		&.--white {
			color: var(--color-white);

			&:before {
				background-color: var(--color-white);
				background: linear-gradient(to right, oklch(from var(--color-corporate-yellow) l c h / 100%) 20px, oklch(from var(--color-white) l c h / 100%) 20px);
			}
		}

		&.--white-green {
			color: var(--color-white);

			&:before {
			}
		}
	}

	& + *:not(hgroup, h1, h2, h3, h4, h5, h6) {
		margin-block-start: 32px;

		@include mq(tab) {
			margin-block-start: 40px;
		}
	}
}

.c-heading--lv3:not(.no-decoration):not(.--border):not(.--underline),
//.l-entry-content .c-heading--lv3:not(.no-decoration),
.l-entry-content :where(h3:not(.no-decoration):not(.--border):not(.--underline)) {
	display: flex;
	align-items: start;
	gap: 8px;
	@include font-size(20);
	margin-block: 32px 24px;

	@include mq(tab) {
		@include font-size(24);
		margin-block: 40px 32px;
	}

	&:before {
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: 16px;
		content: '';
		position: relative;
		top: 0.42em;
		inline-size: 16px;
		block-size: 16px;
		@include icon-mask($color: var(--color-corporate-green), $image: '/assets/images/common/icon_diamond.svg');
	}

	& + *:not(hgroup, h1, h2, h3, h4, h5, h6) {
		margin-block-start: 24px;

		@include mq(tab) {
			margin-block-start: 32px;
		}
	}

	&.--white {
		color: var(--color-white);

		&:before {
			background-color: var(--color-white);
		}
	}

	&.--white-green {
		color: var(--color-white);

		&:before {
			background-color: var(--color-corporate-green);
		}
	}
}

.c-heading--lv4:not(.no-decoration):not(.--border):not(.--underline),
//.l-entry-content .c-heading--lv4:not(.no-decoration),
.l-entry-content :where(h4:not(.no-decoration):not(.--border):not(.--underline)) {
	color: var(--color-corporate-green);
	@include font-size(18);
	margin-block: 24px 16px;

	@include mq(tab) {
		@include font-size(20);
		margin-block: 32px 32px;
	}

	& + *:not(hgroup, h1, h2, h3, h4, h5, h6) {
		margin-block-start: 16px;

		@include mq(tab) {
			margin-block-start: 32px;
		}
	}

	&.--white {
		color: var(--color-white);
	}
}

.c-heading--hgroup,
.l-entry-content .c-heading--hgroup {
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin-block: 40px 32px;

	@include mq(tab) {
		//gap: 4px;
		margin-block: 40px 40px;
	}

	.--en {
		color: var(--color-corporate-green);
		@include font-size(14);
		font-family: var(--font-roman);
		line-height: var(--line-height-sm);
		letter-spacing: 0.1em;
		margin-block: 0;

		@include mq(tab) {
			@include font-size(16);
		}

		&.--white {
			color: var(--color-white);
		}
		&.--yellow {
			color: var(--color-corporate-yellow);
		}
		&.--white-green {
			color: var(--color-corporate-green);
		}
	}

	.c-heading--lv2:not(.no-decoration) {
		margin-block: 0;

		@include mq(tab) {
		}
	}

	&.is-section {
		@include mq(tab) {
		}

		.--en {
			@include font-size(35);
			letter-spacing: initial;

			@include mq(tab) {
				@include font-size(80);
			}
		}

		.c-heading--lv2:not(.no-decoration) {
			@include font-size(18);

			@include mq(tab) {
				@include font-size(24);
			}
		}
	}

	& + *:not(hgroup, h1, h2, h3, h4, h5, h6) {
		margin-block-start: 32px;

		@include mq(tab) {
			margin-block-start: 40px;
		}
	}
}

// No Decoration
.c-heading--lv1.no-decoration,
.c-heading--lv2.no-decoration,
.c-heading--lv3.no-decoration,
.c-heading--lv4.no-decoration,
.c-heading--lv5.no-decoration,
.c-heading--lv6.no-decoration,
.l-entry-content :where(h1.no-decoration, h2.no-decoration, h3.no-decoration, h4.no-decoration, h5, h6) {
	position: relative;
	font-weight: 700;
	letter-spacing: var(--letter-spacing-heading);
	line-height: var(--line-height-md);

	&.--white,
	&.--white-green {
		color: var(--color-white);
	}
}

.c-heading--lv1.no-decoration,
.l-entry-content :where(h1.no-decoration):not(.c-heading--lv1) {
	@include font-size(32);
	margin-block: 48px 48px;

	@include mq(tab) {
		@include font-size(40);
		margin-block: 64px 56px;
	}

	& + *:not(hgroup, h1, h2, h3, h4, h5, h6) {
		margin-block-start: 32px;

		@include mq(tab) {
			margin-block-start: 56px;
		}
	}
}

.c-heading--lv2.no-decoration,
.l-entry-content :where(h2.no-decoration):not(.c-heading--lv2) {
	@include font-size(24);
	margin-block: 40px 32px;

	@include mq(tab) {
		@include font-size(32);
		margin-block: 48px 40px;
	}

	& + *:not(hgroup, h1, h2, h3, h4, h5, h6) {
		margin-block-start: 32px;

		@include mq(tab) {
			margin-block-start: 40px;
		}
	}
}

.c-heading--lv3.no-decoration,
.l-entry-content :where(h3.no-decoration):not(.c-heading--lv3) {
	@include font-size(20);
	margin-block: 32px 24px;

	@include mq(tab) {
		@include font-size(24);
		margin-block: 40px 32px;
	}

	& + *:not(hgroup, h1, h2, h3, h4, h5, h6) {
		margin-block-start: 24px;

		@include mq(tab) {
			margin-block-start: 32px;
		}
	}
}

.c-heading--lv4.no-decoration,
.l-entry-content :where(h4.no-decoration):not(.c-heading--lv4) {
	@include font-size(18);
	margin-block: 24px 16px;

	@include mq(tab) {
		@include font-size(20);
		margin-block: 32px 32px;
	}

	& + *:not(hgroup, h1, h2, h3, h4, h5, h6) {
		margin-block-start: 16px;

		@include mq(tab) {
			margin-block-start: 32px;
		}
	}
}

.c-heading--lv5.no-decoration,
.l-entry-content :where(h5) {
	@include font-size(16);
	margin-block: 24px 16px;

	@include mq(tab) {
		@include font-size(18);
		margin-block: 32px 24px;
	}

	& + *:not(hgroup, h1, h2, h3, h4, h5, h6) {
		margin-block-start: 16px;

		@include mq(tab) {
			margin-block-start: 24px;
		}
	}
}

.c-heading--lv6.no-decoration,
.l-entry-content :where(h6) {
	@include font-size(14);
	margin-block: 16px 16px;

	@include mq(tab) {
		@include font-size(18);
		margin-block: 24px 16px;
	}

	& + *:not(hgroup, h1, h2, h3, h4, h5, h6) {
		margin-block-start: 16px;

		@include mq(tab) {
			margin-block-start: 16px;
		}
	}
}

/*@scope (.l-entry-content) {
	:where(h1, h2, h3, h4, h5, h6) {
		color: red;
	}
}*/
