// Link
@use '../core' as *;

.c-link,
.l-entry-content :where(a),
.l-entry-content .c-link {
	display: inline-block;
	color: var(--color-corporate-green);
	@include font-size(14);
	text-decoration: underline;
	text-decoration-color: var(--color-corporate-green);
	text-decoration-thickness: 1px;
	text-underline-offset: 6px;
	box-sizing: border-box;
	@include transition();

	@include mq(tab) {
		font-size: inherit;
	}

	@include any-hover {
		&:hover {
			text-decoration-color: transparent;
		}
	}

	&[target='_blank']:not(.c-button) {
		&:after {
			content: '';
			display: inline-block;
			inline-size: 10px;
			block-size: 10px;
			margin-inline: 6px 0;
			@include icon-mask($color: var(--color-achromatic-secondary-400), $image: '/assets/images/common/icon_exlink.svg');
		}

		&:has(> img)::after {
			display: none;
		}
	}

	&[href$='.pdf']:not(.c-button) {
		&:after {
			content: '';
			content: '';
			display: inline-block;
			inline-size: 25px;
			block-size: 11px;
			margin-inline: 6px 0;
			@include icon-mask($color: var(--color-achromatic-secondary-400), $image: '/assets/images/common/icon_pdf.svg');
		}

		&:has(> img)::after {
			display: none;
		}
	}
}

.c-link.--arrow,
.c-link.--pin,
.l-entry-content .c-link.--arrow,
.l-entry-content .c-link.--pin {
	display: flex;
	align-items: center;
	gap: 6px;
	color: inherit;
	@include font-size(14);
	font-weight: 500;
	text-decoration: none;
	width: fit-content;

	@include mq(tab) {
		gap: 8px;
		font-size: inherit;
	}

	@include any-hover {
		&:hover {
			color: var(--color-corporate-green);
		}
	}

	&:before {
		content: '';

		@include mq(tab) {
		}
	}

	/*&[target='_blank'],
	&[href$='.pdf'] {
		&:after {
			display: none;
		}
	}*/
}

.c-link.--arrow,
.l-entry-content .c-link.--arrow {
	&:before {
		inline-size: 10px;
		block-size: 10px;
		@include icon-mask($color: var(--color-corporate-green), $image: '/assets/images/common/icon_arrow.svg');

		@include mq(tab) {
			inline-size: 12px;
			block-size: 12px;
		}
	}
}

.c-link.--pin,
.l-entry-content .c-link.--pin {
	&:before {
		inline-size: 12.2px;
		block-size: 18px;
		@include icon-mask($color: var(--color-corporate-green), $image: '/assets/images/common/icon_pin.svg');

		@include mq(tab) {
		}
	}

	&[target='_blank'],
	&[href$='.pdf'] {
		&:after {
			display: none;
		}
	}
}
