// List
@use '../core' as *;

.c-list,
.l-entry-content :where(ul, ol) {
	line-height: var(--line-height-md);
	list-style-type: none;
	list-style-position: outside;
	list-style-image: none;
	margin-block: 1.4em;

	@include mq(tab) {
	}

	& li {
		@include font-size(14);
		margin-block: 0.4em 0;

		@include mq(tab) {
			font-size: inherit;
		}

		& > ul,
		& > ol {
			margin-block: 0;
		}

		&:before {
			display: none;
		}
	}
}

ul.c-list:not(.c-list-default):not(.no-marker),
.l-entry-content :where(ul:not(.c-list-default):not(.no-marker)) {
	margin-inline-start: 0.4em;

	& > li {
		position: relative;
		margin-block: 0.4em 0;
		padding-inline-start: 0.8em;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0.52em;
			left: 0;
			inline-size: 8px;
			block-size: 8px;
			background-color: var(--color-corporate-green);
		}

		& > ul,
		& > ol {
			margin-block: 0;
		}
	}
}

ol.c-list:not(.c-list-default):not(.no-marker),
.l-entry-content :where(ol:not(.c-list-default):not(.no-marker)) {
	counter-reset: number;
	list-style: none;
	margin-inline-start: 0.6em;

	& > li {
		position: relative;
		margin-block: 0.4em 0;
		padding-inline-start: 1.4em;

		&:before {
			counter-increment: number;
			content: counter(number);
			position: absolute;
			top: 0.26em;
			left: 0;
			color: var(--color-corporate-green);
			@include font-size(12);
			font-family: var(--font-roman);
			line-height: var(--line-height-sm);

			@include mq(tab) {
				//top: 4px;
				@include font-size(14);
			}
		}

		& > ul,
		& > ol {
			margin-block: 0;
		}

		& > ul {
		}

		& > ol {
			counter-reset: number;
		}
	}
}

.c-list-default:not(.no-marker) {
	& li {
		margin-block: 0.4em 0;

		& > ul,
		& > ol {
			margin-block: 0;
		}
	}
}

ul.c-list-default:not(.no-marker) {
	line-height: var(--line-height-md);
	list-style-type: disc;
	margin-inline-start: 1.4em;
}

ol.c-list-default:not(.no-marker) {
	list-style-type: decimal;
	margin-inline-start: 1.6em;
}

ul.no-marker,
ol.no-marker {
	list-style-type: none;
	margin-inline-start: 0;

	& li {
		margin-block: 0.4em 0;

		& > ul {
			padding-inline-start: 0.4em;
		}

		& > ol {
			padding-inline-start: 0.6em;
		}
	}
}
