// Global Navigation
@use '../core' as *;

.c-navigation {
	position: absolute;
	top: var(--header-height-sp);
	left: 0;
	width: 100vw;
	//height: 100dvh;
	//height: 100dvh;
	height: calc(100dvh - var(--header-height-sp));
	height: calc(100dvh - var(--header-height-sp));
	background-color: var(--color-achromatic-50);
	@include transition();
	visibility: hidden;
	opacity: 0;
	z-index: -1;

	@include mq(md) {
		top: var(--header-height-tab);
		height: calc(100dvh - var(--header-height-tab));
		height: calc(100dvh - var(--header-height-tab));
	}

	@include mq(tab) {
	}

	@include mq(tab-lg) {
		position: static;
		top: unset;
		left: unset;
		width: 100%;
		height: auto;
		background-color: transparent;
		visibility: visible;
		opacity: 1;
		z-index: 1;
	}

	@include mq(xl) {
	}

	.is-open-sp-menu & {
		visibility: visible;
		opacity: 1;
		z-index: 1;
		overflow-y: auto;
	}

	.c-navigation__inner {
		//container-type: inline-size;
		//resize: horizontal;
		display: grid;
		grid-template-rows: repeat(4, auto);
		row-gap: 24px;
		//position: relative;
		padding-inline: 20px;
		padding-block: 40px;

		@include mq(md) {
			padding-inline: 20px;
		}

		@include mq(tab) {
		}

		@include mq(tab-lg) {
			display: grid;
			grid-template-rows: unset;
			grid-auto-flow: column;
			grid-auto-columns: max-content;
			gap: 12px;
			align-items: center;
			padding-inline: unset;
			padding-block: unset;
		}

		@include mq(xl) {
		}

		@include mq(pc-md) {
			gap: 16px;
		}

		@include mq(pc-lg) {
			gap: 24px;
		}
	}

	.c-navigation__list {
		display: grid;
		grid-auto-flow: row;
		border-bottom: 1px solid var(--color-achromatic-secondary-100);
		list-style: none;
		margin: 0;
		padding: 0;

		@include mq(tab-lg) {
			display: grid;
			grid-template-columns: repeat(5, auto);
			gap: 8px;
			align-items: flex-start;
			justify-self: end;
			position: static;
			//top: 6px;
			border: none;
			margin-block-end: -12px;
		}

		@include mq(pc-md) {
			gap: 18px;
		}

		@include mq(pc-lg) {
			gap: 24px;
		}

		&.--douhaku {
			@include mq(tab-lg) {
				grid-template-columns: repeat(4, auto);
				//margin-block-end: inherit;
			}

			.c-navigation__item {
				.c-navigation__link {

					@include mq(tab-lg) {
						font-weight: 500;
					}

					@include mq(pc-md) {
						@include font-size(14);
						color: var(--text--color-douhaku);
					}
				}
			}
		}

		.c-navigation__item {
			position: relative;
			line-height: var(--line-height-reset);
			border-top: 1px solid var(--color-achromatic-secondary-100);

			@include mq(tab-lg) {
				width: fit-content;
				border: none;
			}

			&.has-mega-menu {
				@include mq(tab-lg) {
					position: unset;
				}

				.c-navigation__link > i {
					position: relative;
					inline-size: 12px;
					block-size: 12px;

					&:before,
					&:after {
						content: '';
						position: absolute;
						inset: 0;
						margin: auto;
						inline-size: 12px;
						block-size: 2px;
						background: currentColor;
						@include transition();

						@include mq(tab-lg) {
							display: none;
						}
					}

					&:after {
						transform: rotate(90deg);
					}

					@include mq(tab-lg) {
						inline-size: 8px;
						block-size: 5px;
						@include icon-mask($color: var(--color-corporate-green), $image: '/assets/images/common/icon_down_arrow.svg');
					}
				}

				&.is-open {
					.c-navigation__link i::after {
						transform: rotate(180deg);
						opacity: 0;
					}

					> .c-navigation__mega-menu {
						opacity: 1;
					}
				}

				.c-navigation__link[aria-expanded='true'] {
					i::after {
						transform: rotate(180deg);
						opacity: 0;
					}
				}
			}

			&:not(:has(.c-navigation__mega-menu)) {
				i {
					inline-size: 10px;
					block-size: 10px;
					@include icon-mask($color: var(--color-achromatic-secondary-900), $image: '/assets/images/common/icon_arrow.svg');

					@include mq(tab-lg) {
						display: none;
					}
				}
			}

			&.is-open {
				.c-navigation__link {
					@include mq(tab-lg) {
						color: var(--color-corporate-green);
					}
				}
			}
		}

		.c-navigation__link {
			display: flex;
			justify-content: space-between;
			align-items: center;
			@include font-size(14);
			font-weight: 700;
			padding: 16px 20px;
			@include transition();

			border: 0;
			background: transparent;
			width: 100%;
			text-align: left;
			cursor: pointer;
			appearance: none;

			@include mq(md) {
				@include font-size(16);
			}

			@include mq(tab-lg) {
				flex-direction: column;
				gap: 8px;
				@include font-size(13);
				padding: 0;
				width: auto;
				text-align: center;
			}

			@include mq(pc-md) {
				@include font-size(15);
			}

			&:hover {
				@include mq(tab-lg) {
					color: var(--text-hover-color);
				}
			}
		}

		.c-navigation__mega-menu {
			--panel-h: 0px;

			height: var(--panel-h);
			opacity: 0;
			overflow: hidden;
			@include transition();

			@include mq(tab-lg) {
				height: auto;
				overflow: visible;
				//@include transition($duration: 0.2s, $timingFunction: linear);
			}
		}
	}

	.c-navigation__corporate {
		display: grid;
		place-items: center;
		margin-block-start: 42px;

		@include mq(tab) {
		}

		@include mq(tab-lg) {
			border-left: 1px solid var(--color-achromatic-secondary-100);
			margin-block: 0;
			padding-inline: 8px 0;
		}

		@include mq(pc-md) {
			padding-inline: 16px 0;
		}

		@include mq(pc-lg) {
			padding-inline: 24px 0;
		}

		& > a {
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: var(--color-white);
			font-weight: 700;
			width: 100%;
			height: 52px;
			background-color: var(--color-achromatic-secondary-900);
			border-radius: var(--radius-xs);
			padding-inline: 16px;
			@include transition();

			@include mq(tab-lg) {
				justify-content: center;
				gap: 4px;
				color: inherit;
				@include font-size(12);
				font-weight: 400;
				width: auto;
				height: auto;
				background-color: transparent;
				padding-inline: 0;
			}

			@include mq(tab-lg) {
				@include font-size(14);
			}

			&:after {
				content: '';
				inline-size: 10px;
				block-size: 10px;
				@include icon-mask($color: var(--color-white), $image: '/assets/images/common/icon_exlink.svg');

				@include mq(tab-lg) {
					background-color: var(--color-achromatic-secondary-400);
				}

				@include mq(pc-md) {
				}
			}

			&:hover {
				@include mq(tab-lg) {
					color: var(--text-hover-color);
				}
			}
		}
	}

	.c-navigation__language {
		position: relative;

		.--language-heading {
			display: flex;
			align-items: center;
			gap: 4px;
			//color: var(--color-black);
			@include font-size(14);
			border: none;
			padding: 0;
			@include transition();
			pointer-events: none;

			@include mq(md) {
				@include font-size(16);
			}

			@include mq(tab-lg) {
				pointer-events: auto;
				@include font-size(12);
			}

			@include mq(pc-md) {
				@include font-size(14);
			}

			span {
			}

			i {
				inline-size: 14px;
				block-size: 14px;
				@include icon-mask($color: var(--color-achromatic-secondary-900), $image: '/assets/images/common/icon_language.svg');
				@include transition();
			}

			&:hover {
				@include mq(tab-lg) {
					color: var(--text-hover-color);

					i {
						background-color: var(--color-corporate-green);
					}
				}
			}
		}

		.--language-list {
			display: grid;
			width: 100%;
			grid-template-columns: repeat(4, 1fr);
			gap: 16px;
			align-items: center;
			@include font-size(14);
			line-height: var(--line-height-reset);
			background-color: var(--color-white);
			list-style: none;
			margin-block: 8px 0;
			padding: 16px 20px;

			@include mq(md) {
				//@include font-size(16);
			}

			@include mq(tab) {
			}

			@include mq(tab-lg) {
				grid-template-columns: unset;
				display: grid;
				grid-auto-rows: auto;
				gap: 0;
				position: absolute;
				top: 20px;
				left: 50%;
				min-width: auto;
				width: auto;
				max-height: 0;
				list-style: none;
				border-radius: var(--radius-sm);
				padding: 8px 0;
				transform: translateX(-50%);
				overflow: visible;
				opacity: 0;
				visibility: hidden;
				@include transition();
			}

			&:after {
				@include mq(tab-lg) {
					content: '';
					display: block;
					position: absolute;
					//top: 8px;
					width: 100%;
					height: 100%;
					background-color: transparent;
					//border: 1px solid var(--light-gray-1);
					border-radius: var(--radius-sm);
					box-shadow: 0 0 6px oklch(from var(--color-achromatic-secondary-900) l c h / 20%);
					z-index: -1;
				}
			}

			& > li {
				font-weight: 700;
				text-align: center;
				//width: fit-content;

				@include mq(tab-lg) {
					display: block;
					z-index: 3;
					position: relative;
					white-space: nowrap;
				}

				&.is-current {
					color: var(--color-achromatic-secondary-400);
					font-weight: 400;
				}

				& > a {
					display: block;

					@include mq(tab-lg) {
						padding: 10px 32px;
					}

					&:hover {
						@include mq(tab-lg) {
							color: var(--text-hover-color);
						}
					}
				}
			}
		}

		&:hover,
		&:focus,
		&:focus-within {
			.--language-heading {
				@include mq(tab-lg) {
					color: var(--text-hover-color);

					i {
						background-color: var(--color-corporate-green);
					}
				}
			}

			.--language-list {
				@include mq(tab-lg) {
					visibility: visible;
					max-height: 300px;
					opacity: 1;
					z-index: 1;
				}
			}
		}
	}

	.c-navigation__search {
		display: none;

		@include mq(tab-lg) {
			display: grid;
			place-content: center;
			width: 16px;
			height: 16px;
		}

		&.--search-open {
			@include mq(tab-lg) {
				.--search-button i {
					background-color: var(--color-corporate-green);
				}
			}
		}

		.--search-button {
			display: grid;
			place-content: center;
			width: 100%;
			height: 100%;
			border: none;
			padding: 0;
			@include transition();

			@include mq(tab-lg) {
			}

			i {
				text-indent: -9999px;
				text-decoration: none;
				inline-size: 16px;
				block-size: 16px;
				overflow: hidden;
				@include icon-mask($color: var(--color-achromatic-secondary-900), $image: '/assets/images/common/icon_search.svg');
				@include transition();
			}

			&:hover {
				@include mq(tab-lg) {
					i {
						background-color: var(--color-corporate-green);
					}
				}
			}
		}
	}

	.c-navigation__inquiry {
		& > .c-button-inquiry {
			width: 100%;
			height: 52px;
			min-height: unset;
			border: 1px solid var(--color-achromatic-secondary-100);
			padding-inline: 0;
			padding-block: 0;

			@include mq(tab-lg) {
				@include font-size(12);
				width: 120px;
				height: 36px;
			}

			@include mq(pc-md) {
				@include font-size(14);
				width: 144px;
			}
		}
	}

	.c-navigation__download {
		& > .c-button-download-invert {
			width: 100%;
			height: 52px;
			min-height: unset;
			padding-inline: 0;
			padding-block: 0;

			@include mq(tab-lg) {
				@include font-size(12);
				width: 140px;
				height: 36px;
			}

			@include mq(pc-md) {
				@include font-size(14);
				width: 171px;
			}
		}
	}
}

.is-header-transparent {
	.c-navigation .c-navigation__list .c-navigation__link:hover {
	}

	.c-navigation {
		.c-navigation__list {
			.c-navigation__item {
				.c-navigation__link {
					&:hover {
						@include mq(tab-lg) {
							color: var(--color-corporate-yellow);
						}
					}
				}

				&.has-mega-menu {
					&:hover .c-navigation__link,
					&:focus .c-navigation__link,
					&:focus-within .c-navigation__link {
						@include mq(tab-lg) {
							color: var(--color-corporate-yellow);
						}
					}

					.c-navigation__link {
						& > i {
							@include mq(tab-lg) {
								background-color: var(--color-corporate-yellow);
							}
						}
					}
				}

				&.is-open {
					.c-navigation__link {
						@include mq(tab-lg) {
							color: var(--color-corporate-yellow);
						}
					}
				}
			}
		}

		.c-navigation__corporate {
			& > a {
				&:hover {
					@include mq(tab-lg) {
						color: var(--color-corporate-yellow);

						&:after {
							background-color: var(--color-corporate-yellow);
						}
					}
				}

				&:after {
					@include mq(tab-lg) {
						background-color: var(--color-white);
					}
				}
			}
		}

		.c-navigation__language {
			.--language-heading {
				i {
					@include mq(tab-lg) {
						background-color: var(--color-white);
					}
				}
			}

			&:hover,
			&:focus,
			&:focus-within {
				.--language-heading,
				.--language-heading,
				.--language-heading {
					@include mq(tab-lg) {
						color: var(--color-corporate-yellow);

						i {
							background-color: var(--color-corporate-yellow);
						}
					}
				}

				.--language-list {
					@include mq(tab-lg) {
						color: var(--text-color);
					}
				}
			}
		}

		.c-navigation__search {
			.--search-button {
				i {
					@include mq(tab-lg) {
						background-color: var(--color-white);
					}
				}
			}

			&.is-open {
				.--search-button i {
					@include mq(tab-lg) {
						background-color: var(--color-corporate-yellow);
					}
				}
			}
		}
	}
}
