// Page top
@use '../core' as *;

.c-pagetop {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
	opacity: 0;
	visibility: hidden;
	@include transition();
	z-index: 10;

	@include mq(tab) {
		bottom: 20px;
		right: 20px;
		width: 50px;
		height: 50px;
	}

	&.is-active {
		opacity: 1;
		visibility: visible;
	}

	&__link {
		display: grid;
		place-content: center;
		position: relative;
		line-height: var(--line-height-reset);
		width: 40px;
		height: 40px;
		background-color: var(--color-chromatic-color-800);
		@include transition();

		@include mq(tab) {
			width: inherit;
			height: inherit;
		}

		@include any-hover {
			&:hover,
			&:focus {
				background-color: var(--color-corporate-yellow);

				i {
					background-color: var(--color-corporate-green);
				}
			}
		}

		i {
			position: relative;
			inline-size: 10px;
			block-size: 7px;
			@include icon-mask($color: var(--color-white), $image: '/assets/images/common/icon_pagetop.svg');
			@include transition($duration: 0.4s);
			overflow: hidden;

			@include mq(tab) {
				inline-size: 14px;
				block-size: 9px;
			}
		}

		span {
			text-indent: -9999px;
			text-decoration: none;
			width: 1px;
			height: 1px;
			overflow: hidden;
		}
	}
}
