// Paragraph
@use '../core' as *;

.c-paragraph,
.l-entry-content :where(p) {
	@include font-size(14);
	margin-block: 1em;
	box-sizing: border-box;

	@include mq(tab) {
		@include font-size(18);
	}

	&:first-child {
		margin-block-start: 0;
	}

	&:last-child {
		margin-block-end: 0;
	}

	&.has-x-large-font-size {
		@include font-size(20);

		@include mq(tab) {
			@include font-size(24);
		}
	}

	&.has-large-font-size {
		@include font-size(18);

		@include mq(tab) {
			@include font-size(20);
		}
	}

	&.has-medium-font-size {
		@include font-size(16);

		@include mq(tab) {
			@include font-size(18);
		}
	}

	&.has-normal-font-size {
		@include font-size(14);

		@include mq(tab) {
			@include font-size(16);
		}
	}

	&.has-small-font-size {
		@include font-size(12);

		@include mq(tab) {
			@include font-size(14);
		}
	}

	@at-root .l-section.l-section--black .c-paragraph,
		.l-entry-content .l-section.l-section--black .c-paragraph,
		.l-entry-content .l-section.l-section--black :where(p) {
		color: var(--color-white);
	}
}
