// Table
@use '../core' as *;

// デフォルト
.c-table,
.l-entry-content .c-table,
.l-entry-content table {
	line-height: var(--line-height-md);
	border-collapse: collapse;
	border-spacing: 0;
	margin-block-start: 24px;

	@include mq(tab) {
		margin-block-start: 40px;
	}

	&.--fixed-layout {
		table-layout: fixed;
		width: auto;
	}

	&:not(.--plain) {
		thead {
			tr {
				th,
				td {
				}

				th {
					color: var(--color-white);
					background-color: var(--color-achromatic-800);
					border: 1px solid var(--color-white);

					&:first-of-type {
						border-inline-start: 1px solid var(--color-achromatic-secondary-100);
					}

					&:last-of-type {
						border-inline-end: 1px solid var(--color-achromatic-secondary-100);
					}
				}

				td {
				}
			}
		}

		tr {
			th,
			td {
				--x-padding: 22px;
				--y-padding: 16px;
				//container-type: size;
				@include font-size(14);
				border: 1px solid var(--color-achromatic-secondary-100);
				padding-inline: var(--x-padding);
				padding-block: var(--y-padding);
				@include mq(tab) {
					@include font-size(16);
				}

				small {
					@include font-size(12);
				}
			}

			th {
				background-color: var(--color-achromatic-100);
			}

			td {
				background-color: var(--color-white);
			}
		}
	}

	caption {
		&:first-of-type {
			caption-side: top;
			@include font-size(14);
			padding-block-end: 16px;
			@include mq(tab) {
				@include font-size(16);
			}
		}

		&:last-of-type {
			caption-side: bottom;
			color: var(--color-achromatic-secondary-600);
			@include font-size(12);
			padding-block-start: 16px;
			@include mq(tab) {
				@include font-size(16);
			}
		}
	}
}

// シンプル
.c-table,
.l-entry-content .c-table,
.l-entry-content table {
	&.--plain {
		tr {
			th,
			td {
				@include font-size(14);
				border: none;
				padding-inline: var(--x-padding);
				padding-block: var(--y-padding);

				@include mq(tab, down) {
					display: block;
				}

				@include mq(tab) {
					--x-padding: 0 32px;
					--y-padding: 32px;
					font-size: inherit;
					border-bottom: 1px solid var(--color-achromatic-secondary-100);
				}

				small {
					@include font-size(12);

					@include mq(tab) {
						@include font-size(14);
					}
				}
			}

			th {
				font-weight: 700;

				@include mq(tab, down) {
					padding-block-start: 16px;
				}

				@include mq(tab) {
					min-width: 280px;
				}
			}

			td {
				@include mq(tab, down) {
					border-bottom: 1px solid var(--color-achromatic-secondary-100);
					padding-block: 8px 16px;
				}

				@include mq(tab) {
				}
			}

			&:last-of-type {
				th,
				td {
					//border-bottom: none;
				}
			}
		}
	}
}

// 囲い
.c-table-wrapper,
.l-entry-content .c-table-wrapper {
	&.is-scroll-on-mobile {
		@include mq(tab, down) {
			overflow-x: scroll;
			white-space: nowrap;
			padding: 0 0 10px;
		}
	}
}
