// Aside
@use '../core' as *;

.p-aside {
	//width: 100%;
	//background-color: red;

	@include mq(tab) {
		//width: 280px;
	}

	.p-aside__inner {
		//position: sticky;
		position: relative;
		//top: calc(var(--header-height-tab) + 40px);
		z-index: var(--z-aside);
	}

	.p-aside__nav {
	}

	.p-aside__list {
		display: grid;
		grid-template-columns: 1fr;
		gap: 2px;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.p-aside__item {
		&.is-current {
			.p-aside__link {
				color: var(--color-white);
				background-color: var(--color-corporate-green);

				i {
					background-color: var(--color-white);
				}

				@include any-hover {
					&:hover {
						color: var(--color-corporate-yellow);

						i {
							background-color: var(--color-corporate-yellow);
						}
					}
				}
			}

			&.--accordion {
				.--accordion-button {
					i {
						background-color: transparent;

						&:before,
						&:after {
							background-color: var(--color-white);
						}
					}

					@include any-hover {
						&:hover {
							i {
								background-color: transparent;

								&:before,
								&:after {
									background-color: var(--color-corporate-yellow);
								}
							}
						}
					}
				}
			}
		}
	}

	.p-aside__link {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 16px;
		@include font-size(14);
		font-weight: 700;
		width: 100%;
		background-color: var(--color-white);
		border: none;
		line-height: var(--line-height-md);
		padding-inline: 20px;
		padding-block: 16px;
		@include transition();

		i {
			position: relative;
			left: 0;
			inline-size: 10px;
			block-size: 10px;
			@include icon-mask($color: var(--color-achromatic-secondary-900), $image: '/assets/images/common/icon_arrow.svg');
			@include transition();
		}

		&[target='_blank'] {
			i {
				@include icon-mask($color: var(--color-achromatic-secondary-900), $image: '/assets/images/common/icon_exlink.svg');
			}
		}

		@include any-hover {
			&:hover {
				color: var(--color-corporate-green);

				i {
					background-color: var(--color-corporate-green);
				}

				&:not([target='_blank']):not(&.--accordion-button) {
					i {
						left: 4px;
					}
				}
			}
		}
	}

	.p-aside__child-list {
		display: grid;
		grid-template-columns: 1fr;
		gap: 2px;
		list-style: none;
		margin-inline: 0;
		margin-block: 2px 0;
		padding: 0;
	}

	.p-aside__child-item {
		&.is-current {
			.p-aside__child-link {
				color: var(--color-white);
				background-color: var(--color-corporate-green);

				i {
					background-color: var(--color-white);
				}

				@include any-hover {
					&:hover {
						color: var(--color-corporate-yellow);

						i {
							background-color: var(--color-corporate-yellow);
						}
					}
				}
			}
		}
	}

	.p-aside__child-link {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 16px;
		@include font-size(14);
		font-weight: inherit;
		width: 100%;
		background-color: var(--color-chromatic-color-50);
		border: none;
		line-height: var(--line-height-md);
		padding-inline: 40px 20px;
		padding-block: 16px;
		@include transition();

		i {
			position: relative;
			left: 0;
			inline-size: 10px;
			block-size: 10px;
			@include icon-mask($color: var(--color-achromatic-secondary-900), $image: '/assets/images/common/icon_arrow.svg');
			@include transition();
		}

		&[target='_blank'] {
			i {
				@include icon-mask($color: var(--color-achromatic-secondary-900), $image: '/assets/images/common/icon_exlink.svg');
			}
		}

		@include any-hover {
			&:hover {
				color: var(--color-corporate-green);

				i {
					background-color: var(--color-corporate-green);
				}

				&:not([target='_blank']):not(&.--accordion-button) {
					i {
						left: 4px;
					}
				}
			}
		}
	}

	.p-aside__grandchild-list {
		display: grid;
		grid-template-columns: 1fr;
		gap: 2px;
		list-style: none;
		margin-inline: 0;
		margin-block: 2px 0;
		padding: 0;
	}

	.p-aside__grandchild-item {
		&.is-current {
			.p-aside__grandchild-link {
				color: var(--color-white);
				background-color: var(--color-corporate-green);

				i {
					background-color: var(--color-white);
				}

				@include any-hover {
					&:hover {
						color: var(--color-corporate-yellow);

						i {
							background-color: var(--color-corporate-yellow);
						}
					}
				}
			}
		}
	}

	.p-aside__grandchild-link {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 16px;
		@include font-size(14);
		font-weight: inherit;
		width: 100%;
		background-color: var(--color-chromatic-color-50);
		border: none;
		line-height: var(--line-height-md);
		padding-inline: 56px 20px;
		padding-block: 16px;
		@include transition();

		i {
			position: relative;
			left: 0;
			inline-size: 10px;
			block-size: 10px;
			@include icon-mask($color: var(--color-achromatic-secondary-900), $image: '/assets/images/common/icon_arrow.svg');
			@include transition();
		}

		&[target='_blank'] {
			i {
				@include icon-mask($color: var(--color-achromatic-secondary-900), $image: '/assets/images/common/icon_exlink.svg');
			}
		}

		@include any-hover {
			&:hover {
				color: var(--color-corporate-green);

				i {
					background-color: var(--color-corporate-green);
				}

				&:not([target='_blank']):not(&.--accordion-button) {
					i {
						left: 4px;
					}
				}
			}
		}
	}

	.p-aside__great-grandchild-list {
		display: grid;
		grid-template-columns: 1fr;
		gap: 2px;
		list-style: none;
		margin-inline: 0;
		margin-block: 2px 0;
		padding: 0;
	}

	.p-aside__great-grandchild-item {
		&.is-current {
			.p-aside__great-grandchild-link {
				color: var(--color-white);
				background-color: var(--color-corporate-green);

				i {
					background-color: var(--color-white);
				}

				@include any-hover {
					&:hover {
						color: var(--color-corporate-yellow);

						i {
							background-color: var(--color-corporate-yellow);
						}
					}
				}
			}
		}
	}

	.p-aside__great-grandchild-link {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 16px;
		@include font-size(14);
		font-weight: inherit;
		width: 100%;
		background-color: var(--color-chromatic-color-50);
		border: none;
		line-height: var(--line-height-md);
		padding-inline: 72px 20px;
		padding-block: 16px;
		@include transition();

		i {
			position: relative;
			left: 0;
			inline-size: 10px;
			block-size: 10px;
			@include icon-mask($color: var(--color-achromatic-secondary-900), $image: '/assets/images/common/icon_arrow.svg');
			@include transition();
		}

		&[target='_blank'] {
			i {
				@include icon-mask($color: var(--color-achromatic-secondary-900), $image: '/assets/images/common/icon_exlink.svg');
			}
		}

		@include any-hover {
			&:hover {
				color: var(--color-corporate-green);

				i {
					background-color: var(--color-corporate-green);
				}

				&:not([target='_blank']):not(&.--accordion-button) {
					i {
						left: 4px;
					}
				}
			}
		}
	}

	.--accordion {
		.--accordion-button {
			i {
				background-color: transparent;
				background-image: none;
				mask-image: none;

				&:before,
				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					background-color: var(--color-achromatic-secondary-900);
					width: 10px;
					height: 1px;
					transform: translate(-50%, -50%) rotate(180deg);
					@include transition();
				}

				&:after {
					transform: translate(-50%, -50%) rotate(90deg);
				}

				@at-root .p-aside .--accordion-button.ui-active > i:after {
					transform: translate(-50%, -50%) rotate(180deg);
				}
			}

			@include any-hover {
				&:hover {
					i {
						background-color: transparent;
					}
				}
			}
		}

		.--accordion-panel {
		}

		// Transition
		.aside-enter-active,
		.aside-leave-active {
			@include transition();
			overflow: hidden;
		}

		.aside-enter-to,
		.aside-leave-from {
			height: var(--ui-transition-height);
		}

		.aside-enter-from,
		.aside-leave-to {
			height: 0;
			opacity: 0;
		}
	}

	.p-aside__tag-list {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
		line-height: var(--line-height-reset);
		background-color: var(--color-white);
		list-style: none;
		margin-inline: 0;
		margin-block: 2px 0;
		padding-inline: 16px;
		padding-block: 16px;

		@include mq(tab) {
			padding-inline: 20px;
			padding-block: 20px;
		}

		.p-aside__tag-item {
			margin: 0;
			padding: 0;

			&:before {
				display: none;
			}

			& > a {
				text-decoration: inherit;
			}

			&.is-current {
				.p-aside__tag-link {
					color: var(--color-white);
					background-color: var(--color-corporate-green);

					@include any-hover {
						&:hover {
							color: var(--color-corporate-yellow);
						}
					}
				}
			}
		}

		.p-aside__tag-link {
			display: flex;
			align-items: center;
			color: inherit;
			@include font-size(14);
			background-color: var(--color-achromatic-50);
			border-radius: var(--radius-sm);
			padding: 8px;
			@include transition();

			@include mq(tab) {
				font-size: inherit;
			}

			@include any-hover {
				&:hover {
					color: var(--color-corporate-green);
				}
			}
		}
	}

	.p-aside__button {
		display: grid;
		grid-template-columns: 1fr;
		gap: 8px;
		margin-block-start: 16px;

		.c-button-inquiry {
			width: 100%;
			border: 1px solid var(--color-achromatic-secondary-100);
		}
	}

	.p-aside__pickup {
		background-color: var(--color-white);
		margin-block-start: 16px;
		padding-inline: 20px;
		padding-block: 20px;

		.p-aside__pickup-title {
			color: var(--color-corporate-green);
			@include font-size(14);
			font-weight: 700;
			line-height: var(--line-height-md);

			@include mq(tab) {
				font-size: inherit;
			}
		}

		.p-aside__pickup-list {
			display: grid;
			grid-template-columns: 1fr;
			gap: 16px;
			margin-block-start: 16px;

			& > *:not(:last-child) {
				border-bottom: 1px solid var(--color-achromatic-secondary-100);
				padding-block-end: 16px;
			}
		}
	}
}
