// Divisions
@use '../core' as *;

// About us
.p-divisions-about,
.l-entry-content .p-divisions-about {
}

// Links
.p-divisions-link,
.l-entry-content .p-divisions-link {
	display: grid;
	list-style: none;
	margin-inline: 0;
	margin-block-end: 0;
	padding: 0;

	@include mq(md, down) {
		grid-template-columns: 1fr;
		margin-inline: calc(-50vw + 50%);
	}

	@include mq(md) {
		grid-template-columns: repeat(2, 1fr);
	}

	.p-divisions-link__item {
		margin: 0;
		padding: 0;

		@include mq(md) {
		}

		&:before {
			display: none;
		}
	}

	.p-divisions-link__link {
		display: block;
		position: relative;
		color: inherit;
		text-decoration: inherit;

		@include mq(md) {
		}

		@include any-hover {
			&:hover {
				.p-divisions-link__figure {
					&:before {
						background-color: oklch(from var(--color-corporate-green) l c h / 90%);
					}
				}

				.p-divisions-link__content {
					i {
						background-color: var(--color-corporate-yellow);

						&:before {
							background-color: var(--color-corporate-green);
						}
					}
				}
			}
		}
	}

	.p-divisions-link__figure {
		position: absolute;
		inset: 0;
		overflow: hidden;
		z-index: -1;

		@include mq(md) {
		}

		&:before {
			content: '';
			position: absolute;
			inset: 0;
			z-index: 0;
			background-color: oklch(from var(--color-achromatic-secondary-900) l c h / 60%);
			@include transition();
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.p-divisions-link__content {
		display: grid;
		grid-template-columns: 1fr 40px;
		align-items: center;
		margin-inline: auto;
		margin-block: 0;
		padding-inline: 20px;
		padding-block: 24px;

		@include mq(md) {
		}

		@include mq(tab) {
			grid-template-columns: 1fr 50px;
			padding-inline: 40px;
			padding-block: 40px;
		}

		i {
			display: grid;
			place-items: center;
			inline-size: 40px;
			block-size: 40px;
			background-color: var(--color-corporate-green);
			@include transition();

			@include mq(tab) {
				inline-size: 50px;
				block-size: 50px;
			}

			&:before {
				content: '';
				flex: 0 0 auto;
				inline-size: 10px;
				block-size: 10px;
				@include icon-mask($color: var(--color-white), $image: '/assets/images/common/icon_arrow.svg');
				@include transition();

				@include mq(md) {
					inline-size: 12px;
					block-size: 12px;
				}
			}
		}
	}

	.p-divisions-link__name {
		color: var(--color-white);
		@include font-size(20);
		font-weight: 500;
		margin: 0;
		padding: 0;

		@include mq(tab) {
			@include font-size(24);
		}
	}
}

// CTA
.p-divisions-cta,
.l-entry-content .p-divisions-cta {
	--negative-margin: calc((100% - 100cqi) / 2);
	position: relative;
	display: block;
	color: inherit;
	text-decoration: inherit;
	margin-inline: var(--negative-margin);
	padding-inline: abs(var(--negative-margin));

	@include mq(md) {
	}

	&:after {
		display: none;
	}

	// 銅箔
	&[data-cta='douhaku'] {
		display: grid;
		grid-template-columns: 1fr;

		@include mq(md, down) {
			background-color: var(--color-achromatic-secondary-900);
			padding: unset;
		}

		@include mq(md) {
			padding-block: 40px;
		}

		@include mq(tab) {
			padding-block: 80px;
		}

		@include any-hover {
			&:hover {
				.p-divisions-cta__base {
					img {
						scale: 1.08;
					}
				}
			}
		}

		.p-divisions-cta__base {
			order: 2;
			overflow: hidden;

			@include mq(md) {
				order: 1;
				position: absolute;
				inset: 0;
			}

			img {
				display: block;
				inline-size: 100%;
				block-size: 100%;
				object-fit: cover;
				scale: 1;
				@include transition();
			}
		}

		.p-divisions-cta__inner {
			order: 1;
			position: relative;
			background-color: var(--color-white);

			@include mq(md, down) {
				margin-inline: 20px;
				margin-block: 20px;
				padding-inline: 40px;
				padding-block: 60px;
			}

			@include mq(md) {
				order: 2;
				max-width: 405px;
				width: fit-content;
				margin-inline: auto 0;
				padding-inline: 40px;
				padding-block: 80px;
			}

			@include mq(tab) {
			}

			span {
				display: block;
				position: absolute;
				right: 40px;
				top: 24px;
				@include font-size(14);
				font-weight: 600;

				@include mq(md) {
					//font-size: inherit;
					@include font-size(16);
				}

				&:after {
					content: '';
					display: inline-block;
					inline-size: 10px;
					block-size: 10px;
					margin-inline: 6px 0;
					@include icon-mask($color: var(--color-achromatic-secondary-400), $image: '/assets/images/common/icon_exlink.svg');
				}
			}

			img {
				display: block;
			}
		}
	}
}
