// History
@use '../core' as *;

.p-history,
.l-entry-content .p-history {
	background-color: var(--color-white);
	margin: 0;
	padding-inline: 20px;
	padding-block: 24px;

	@include mq(md) {
		padding-inline: 80px;
		padding-block: 80px;
	}

	@include mq(tab) {
	}

	.p-history__list {
		list-style: none;
		margin: 0;
		padding: 0;

		@include mq(tab) {
		}
	}

	.p-history__item {
		position: relative;
		display: grid;
		grid-template-columns: 20px 1fr;
		grid-template-rows: auto auto;
		column-gap: 20px;
		row-gap: 16px;
		//align-items: start;
		align-items: stretch;
		margin: 0;
		padding: 0;

		@include mq(md) {
			grid-template-columns: 130px 20px 1fr;
			column-gap: 40px;
			row-gap: 0;
			align-items: start;
		}

		&:before,
		&:after {
			content: '';
			display: block;
		}

		&:before {
			content: '';
			display: block;
			grid-column: 1;
			grid-row: 1 / 3;
			justify-self: center;
			align-self: stretch;
			position: relative;
			top: unset;
			left: unset;
			background-color: var(--color-achromatic-secondary-100);
			inline-size: 1px;
			//block-size: 100%;

			@include mq(md) {
				grid-column: 2;
				grid-row: 1;
			}
		}

		&:after {
			grid-column: 1;
			grid-row: 1;
			position: relative;
			top: 14px;
			left: 3px;
			inline-size: 14px;
			block-size: 14px;
			@include icon-mask($color: var(--color-corporate-green), $image: '/assets/images/common/icon_diamond.svg');
			//background-color: red;
			//transform: translateY(50%);

			@include mq(md) {
				grid-column: 2;
				grid-row: 1;
				top: 18px;
				left: 2px;
				inline-size: 16px;
				block-size: 16px;
			}
		}

		&:first-child {
			&:before {
				top: 14px;

				@include mq(md) {
					top: 18px;
				}
			}
		}

		&:last-child {
			&:before {
				grid-row: 1;
				align-items: start;
				block-size: 24px;

				@include mq(md) {
				}
			}

			.p-history__year {
				@include mq(md) {
					padding-block-end: 0;
				}
			}

			.p-history__content {
				padding-block-end: 0;

				@include mq(md) {
					padding-block: 16px 0;
				}
			}
		}
	}

	.p-history__year {
		grid-column: 2;
		grid-row: 1;
		color: var(--color-corporate-green);
		@include font-size(24);
		font-family: var(--font-roman);

		@include mq(md) {
			grid-column: 1;
			grid-row: 1;
			align-self: start;
			@include font-size(32);
			width: 130px;
			padding-block-end: 40px;
		}
	}

	.p-history__content {
		grid-column: 2;
		grid-row: 2;
		padding-block-end: 24px;

		@include mq(md) {
			grid-column: 3;
			grid-row: 1;
			padding-block: 14px 40px;
		}
	}
}
