// Points
@use '../core' as *;

.p-points,
.l-entry-content .p-points {
	counter-reset: number;
	display: grid;
	grid-template-columns: 1fr;
	gap: 24px;
	list-style: none;
	margin-inline: 0;
	margin-block: 24px 0;
	padding: 0;

	@include mq(tab) {
		grid-template-columns: repeat(2, 1fr);
		gap: 40px;
		margin-block: 40px 0;
	}

	.p-points__item {
		position: relative;
		background-color: var(--color-white);
		margin: 0;
		padding-inline: 32px;
		padding-block: 48px 32px;

		@include mq(tab) {
			padding-inline: 32px;
			padding-block: 48px 40px;
		}

		&:not(:has(.p-points__inner figure.p-points__figure)) {
			padding-block-start: 56px;

			@include mq(tab) {
				//padding-block-start: 56px;
			}
		}

		&:before {
			counter-increment: number;
			content: 'Point ' counter(number, decimal-leading-zero);
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			color: var(--color-white);
			@include font-size(14);
			font-family: var(--font-roman);
			line-height: var(--line-height-reset);
			background-color: var(--color-corporate-green);
			padding-inline: 8px;
			padding-block: 8px;
		}
	}

	.p-points__inner {
		display: grid;
		grid-template-columns: 1fr;

		&:has(figure.p-points__figure) {
			grid-template-columns: 100px 1fr;
			column-gap: 32px;
			align-items: center;
		}

		@include mq(tab) {
		}
	}

	.p-points__figure {
		aspect-ratio: 1 / 1;
		width: 100%;
		height: 100%;
		overflow: hidden;

		@include mq(tab) {
		}
	}

	.p-points__image {
		@include mq(tab) {
		}
	}

	.p-points__body {
		@include mq(tab) {
		}
	}

	.p-points__title {
		@include font-size(18);
		font-weight: 700;
		letter-spacing: 0.08em;
		line-height: var(--line-height-md);
		margin-inline: 0;
		margin-block: 0;

		@include mq(tab) {
			@include font-size(20);
		}
	}

	.p-points__description {
		line-height: var(--line-height-default);
		margin-inline: 0;
		margin-block: 16px 0;

		@include mq(tab) {
			margin-block: 24px 0;
		}
	}
}
