// Products
@use '../core' as *;

// 商品情報ページ
.p-products,
.l-entry-content .p-products {
	@include mq(tab) {
	}

	[data-section='usage'] {
		.--usage__list {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 24px 16px;
			position: relative;
			list-style: none;
			margin: 0;
			padding: 0;

			@include mq(md) {
				grid-template-columns: repeat(4, 1fr);
			}

			@include mq(tab) {
				gap: 40px;
			}
		}

		.--usage__item {
			display: grid;
			grid-template-columns: 1fr;
			align-items: start;
			position: relative;
			color: inherit;
			@include font-size(14);
			font-weight: 700;
			text-decoration: inherit;
			height: fit-content;
			margin: 0;
			padding: 0;
			@include transition();
			cursor: pointer;

			&:hover {
				.--usage__figure img {
					scale: 1.08;
				}

				.--usage__label {
					span {
						color: var(--color-corporate-green);
					}

					i {
						&:after {
							transform: translate(-50%, -50%) rotate(180deg);
						}
					}
				}
			}

			&:hover,
			&:focus,
			&:focus-within {
				.--usage__child {
					max-height: 800px;
					visibility: visible;
					opacity: 1;
					z-index: 1;
				}
			}

			.--usage__figure {
				aspect-ratio: 16 / 9;
				inline-size: 100%;
				block-size: 100%;
				overflow: hidden;

				img {
					@include transition();
					scale: 1;
				}
			}

			.--usage__label {
				display: flex;
				justify-content: space-between;
				//align-items: center;
				gap: 16px;
				position: relative;
				@include font-size(14);
				margin-block: 8px 0;

				@include mq(tab) {
					@include font-size(18);
				}

				span {
					@include transition();
				}

				i {
					content: '';
					flex-shrink: 0;
					position: relative;
					inline-size: 20px;
					block-size: 20px;
					background-color: var(--color-corporate-green);

					&:before,
					&:after {
						content: '';
						display: block;
						position: absolute;
						top: 50%;
						left: 50%;
						background-color: var(--color-white);
						width: 10px;
						height: 1px;
						transform: translate(-50%, -50%) rotate(180deg);
						@include transition();
					}

					&:after {
						transform: translate(-50%, -50%) rotate(90deg);
					}
				}
			}

			.--usage__child {
				position: absolute;
				top: 0;
				left: 0;
				width: calc(100% - 24px);
				max-height: 0;
				background-color: var(--color-white);
				list-style: none;
				box-shadow: 0 0 6px oklch(from var(--color-achromatic-secondary-900) l c h / 20%);
				margin-inline: 0 20px;
				margin-block: 0;
				padding-inline: 16px;
				padding-block: 16px;
				@include transition();
				visibility: hidden;
				opacity: 0;
				z-index: -1;

				@include mq(tab) {
					padding-inline: 24px;
					padding-block: 24px;
				}

				& > .--usage__child-parent,
				& > .--usage__child-item {
					margin: 0;
					padding: 0;

					&:before {
						display: none;
					}

					& > a {
						display: flex;
						gap: 4px;
						color: inherit;
						@include font-size(12);
						text-decoration: inherit;
						font-weight: 600;
						@include transition();

						@include mq(md) {
							@include font-size(18);
						}

						@include any-hover {
							&:hover {
								color: var(--color-corporate-green);
							}
						}

						&:before {
							content: '';
							flex-shrink: 0;
							position: relative;
							top: 0.5em;
							inline-size: 8px;
							block-size: 8px;
							@include icon-mask($color: var(--color-corporate-green), $image: '/assets/images/common/icon_arrow.svg');
						}
					}
				}

				& > .--usage__child-parent {
				}

				& > .--usage__child-item {
					margin-inline: 8px 0;
					margin-block: 4px 0;
				}
			}
		}
	}

	[data-section='industries'] {
		.--industries__list {
			display: grid;
			grid-template-columns: 1fr;
			gap: 8px;
			list-style: none;
			margin: 0;
			padding: 0;

			@include mq(md) {
				grid-template-columns: repeat(2, 1fr);
				gap: 8px;
			}

			@include mq(tab) {
				grid-template-columns: repeat(5, 1fr);
			}
		}

		.--industries__item {
			display: grid;
			margin: 0;
			padding: 0;

			&:before {
				display: none;
			}

			a {
				display: grid;
				grid-template-columns: 1fr 10px;
				align-items: center;
				gap: 16px;
				color: inherit;
				@include font-size(14);
				font-weight: 700;
				text-decoration: inherit;
				background-color: var(--color-white);
				padding-inline: 16px;
				padding-block: 16px;
				@include transition();

				@include mq(tab) {
					@include font-size(18);
				}

				&:after {
					content: '';
					inline-size: 10px;
					block-size: 10px;
					@include icon-mask($color: var(--color-corporate-green), $image: '/assets/images/common/icon_arrow.svg');
				}

				@include any-hover {
					&:hover {
						background-color: var(--color-corporate-yellow);
					}
				}
			}
		}
	}

	[data-section='properties'] {
		.--properties__list {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 16px 8px;
			list-style: none;
			margin: 0;
			padding: 0;

			@include mq(sm) {
				//grid-template-columns: repeat(4, 1fr);
				gap: 16px 16px;
			}

			@include mq(md) {
				grid-template-columns: repeat(6, 1fr);
				gap: 24px 24px;
			}

			@include mq(tab) {
				grid-template-columns: repeat(8, 1fr);
				gap: 40px 24px;
			}
		}

		.--properties__item {
			display: grid;
			margin: 0;
			padding: 0;

			&:before {
				display: none;
			}

			a {
				display: grid;
				grid-template-columns: 1fr;
				align-items: start;
				//gap: 16px;
				color: inherit;
				@include font-size(14);
				font-weight: 700;
				text-decoration: inherit;
				height: fit-content;
				@include transition();

				@include any-hover {
					&:hover {
						color: var(--color-corporate-green);
					}
				}

				figure {
					aspect-ratio: 1 / 1;
					//inline-size: 100%;
					//block-size: 100%;
					overflow: hidden;
					background-color: var(--color-white);
					padding-inline: 16px;
					padding-block: 16px;

					@include mq(md) {
						padding-inline: 24px;
						padding-block: 24px;
					}

					img {
						aspect-ratio: 1 / 1;
						width: 100%;
						height: auto;
						object-fit: contain;
					}
				}

				p {
					@include font-size(14);
					margin-block: 8px 0;

					@include mq(tab) {
						@include font-size(18);
					}
				}
			}
		}
	}

	[data-section='categories'] {
		.--categories__list {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 24px 16px;
			list-style: none;
			margin: 0;
			padding: 0;

			@include mq(md) {
				grid-template-columns: repeat(4, 1fr);
			}

			@include mq(tab) {
				gap: 40px;
			}
		}

		.--categories__item {
			display: grid;
			margin: 0;
			padding: 0;

			&:before {
				display: none;
			}

			a {
				display: grid;
				grid-template-columns: 1fr;
				align-items: start;
				//gap: 16px;
				color: inherit;
				@include font-size(14);
				font-weight: 700;
				text-decoration: inherit;
				height: fit-content;
				@include transition();

				@include any-hover {
					&:hover {
						color: var(--color-corporate-green);

						img {
							scale: 1.08;
						}
					}
				}

				figure {
					aspect-ratio: 16 / 9;
					inline-size: 100%;
					block-size: 100%;
					overflow: hidden;

					img {
						@include transition();
						scale: 1;
					}
				}

				p {
					@include font-size(14);
					margin-block: 8px 0;

					@include mq(md) {
						@include font-size(18);
						//margin-block: 16px 0;
					}
				}
			}
		}
	}
}

// 商品一覧
.p-product-list,
.l-entry-content .p-product-list {
	--negative-margin: calc((100% - 100cqi) / 2);
	position: relative;
	margin-inline: var(--negative-margin);
	//padding-inline: abs(var(--negative-margin));

	@include mq(tab) {
	}

	.p-product-list__inner {
		@include mq(md, down) {
			margin-inline: 0;
			margin-block: 0;
			padding-inline: 0;
			padding-block: 0 16px;
			overflow-x: auto;
			overflow-y: hidden;
			-webkit-overflow-scrolling: touch;
		}

		@include mq(md) {
			position: relative;
			width: min(var(--contents-width), 100%);
			min-height: 300px;
			margin-inline: auto;
			padding-inline: 20px;
		}

		@include mq(tab) {
		}

		@include mq(xl) {
			padding-inline: 0;
		}
	}

	.p-product-list__list {
		display: grid;
		align-items: stretch;
		gap: 0;
		position: relative;
		width: fit-content;
		list-style: none;
		margin-inline: 0;
		margin-block: 0;
		padding-inline: 0;
		padding-block: 0;

		@include mq(md, down) {
			grid-auto-flow: column;
			grid-auto-columns: 335px;
			border-top: 1px solid var(--color-achromatic-secondary-100);
			border-bottom: 1px solid var(--color-achromatic-secondary-100);
			list-style: none;
			padding-inline: 20px;
			scroll-snap-type: x mandatory;
		}

		@include mq(md) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include mq(tab) {
			grid-template-columns: repeat(3, 1fr);
		}

		&:before {
			@include mq(md) {
				content: '';
				display: block;
				position: absolute;
				inset: 0;
				left: 50%;
				right: 50%;
				//border-top: 1px solid var(--color-achromatic-secondary-100);
				border-bottom: 1px solid var(--color-achromatic-secondary-100);
				margin-left: -50vw;
				margin-right: -50vw;
				z-index: 0;
			}
		}
	}

	.p-product-list__item {
		position: relative;
		//height: 100%;
		border-right: 1px solid var(--color-achromatic-secondary-100);
		margin: 0;
		padding: 0;
		scroll-snap-align: start;

		@include mq(md) {
		}

		&:first-child {
			@include mq(md, down) {
				border-left: 1px solid var(--color-achromatic-secondary-100);
			}
		}

		&:nth-child(odd) {
			@include mq(md) {
				border-left: 1px solid var(--color-achromatic-secondary-100);

				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					right: -20px;
					left: -20px;
					inline-size: 100vw;
					block-size: 1px;
					background-color: var(--color-achromatic-secondary-100);
				}
			}

			@include mq(tab) {
				border-left: none;

				&:before {
					display: none;
				}
			}
		}

		&:nth-child(3n - 2) {
			@include mq(tab) {
				border-left: 1px solid var(--color-achromatic-secondary-100);

				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					right: -20px;
					left: -20px;
					inline-size: 100vw;
					block-size: 1px;
					background-color: var(--color-achromatic-secondary-100);
				}
			}

			@include mq(xl) {
				&:before {
					right: calc((100dvw - var(--contents-width)) / 2 * -1);
					left: calc(((100dvw - var(--contents-width)) / 2) * -1);
				}
			}
		}

		&:before {
			display: none;
		}
	}

	.p-product-list__link {
		display: flex;
		flex-direction: column;
		height: 100%;
		color: inherit;
		text-decoration: inherit;
		padding-inline: 20px;
		padding-block: 20px;
		@include transition();

		@include mq(tab) {
			padding-inline: 40px;
			padding-block: 40px;
		}

		@include any-hover {
			&:hover {
				color: var(--color-white);
				background-color: var(--color-achromatic-secondary-900);

				.p-product-list__figure {
					img {
						scale: 1.08;
					}
				}
			}
		}
	}

	.p-product-list__figure {
		aspect-ratio: 16 / 9;
		width: 100%;
		//height: 100%;
		overflow: hidden;

		@include mq(tab) {
		}

		img {
			@include transition();
			scale: 1;
		}
	}

	.p-product-list__content {
		@include mq(tab) {
		}
	}

	.p-product-list__name {
		@include font-size(18);
		font-weight: 700;
		//line-height: var(--line-height-reset);
		letter-spacing: var(--letter-spacing-heading);
		margin-block: 16px 0;

		@include mq(tab) {
			@include font-size(20);
		}
	}

	.p-product-list__description {
		@include font-size(14);
		line-height: var(--line-height-default);
		margin-block: 16px;

		@include mq(tab) {
			@include font-size(18);
			margin-block: 16px 24px;
		}
	}

	.p-product-list__detail {
		display: flex;
		align-items: center;
		gap: 8px;
		@include font-size(14);
		font-weight: 500;
		width: fit-content;
		margin-inline: auto 0;
		margin-block: auto 0;

		@include mq(tab) {
		}

		i {
			display: grid;
			place-content: center;
			inline-size: 20px;
			block-size: 20px;
			background-color: var(--color-corporate-green);

			&:after {
				content: '';
				inline-size: 8px;
				block-size: 8px;
				@include icon-mask($color: var(--color-white), $image: '/assets/images/common/icon_arrow.svg');
			}
		}
	}
}

// 商品検索
.p-product-search,
.l-entry-content .p-product-search {
	--negative-margin: calc((100% - 100cqi) / 2);
	position: relative;
	width: 100dvw;
	background-color: var(--color-corporate-green);
	background-image: url('/assets/images/products/product-search-base.webp');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-inline: var(--negative-margin);
	padding-inline: 0;
	padding-block: 40px;

	@include mq(tab) {
		padding-block: 80px;
	}

	.p-product-search__inner {
		position: relative;
		width: min(var(--contents-width), 100%);
		margin-inline: auto;
		padding-inline: 20px;

		@include mq(xl) {
			padding-inline: 0;
		}

		& > .c-heading--lv2 {
			margin-block-start: 0;
		}
	}

	.p-product-search__content {
		display: grid;
		grid-template-columns: 1fr;
		gap: 8px;

		@include mq(tab) {
			gap: 40px;
		}
	}

	// タブ／アコーディオン要素
	.--tabs {
		display: none;

		@include mq(md) {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
			gap: 8px;
		}

		@include mq(tab) {
			gap: 12px;
		}
	}

	.--tabs-button {
		@include mq(md) {
			display: flex;
			align-items: center;
			gap: 8px;
			@include font-size(14);
			font-weight: 700;
			line-height: var(--line-height-reset);
			background-color: var(--color-white);
			border: none;
			margin: 0;
			padding-inline: 20px;
			padding-block: 20px;
			@include transition();
		}

		@include mq(tab) {
			@include font-size(18);
		}

		&:before {
			content: '';
			inline-size: 12px;
			block-size: 12px;
			@include icon-mask($color: var(--color-achromatic-secondary-400), $image: '/assets/images/common/icon_diamond.svg');
		}

		&.ui-active {
			@include mq(md) {
				color: var(--color-corporate-green);
				background-color: var(--color-chromatic-color-50);
				pointer-events: none;
			}

			&:before {
				@include mq(md) {
					background-color: var(--color-corporate-green);
				}
			}
		}

		@include any-hover {
			&:hover {
				color: var(--color-corporate-green);
			}
		}
	}

	.--panels {
		display: grid;
		grid-template-columns: 1fr;
		gap: 8px;

		@include mq(md) {
			margin-block: 8px 0;
		}

		@include mq(tab) {
			margin-block: 12px 0;
		}
	}

	.--panels-item {
		&[hidden] {
			@include mq(md, down) {
				display: block !important;
			}
		}
	}

	.--panels-button {
		display: flex;
		align-items: center;
		gap: 8px;
		position: relative;
		@include font-size(14);
		font-weight: 700;
		line-height: var(--line-height-reset);
		inline-size: 100%;
		background-color: var(--color-white);
		border: none;
		padding-inline: 20px;
		padding-block: 20px;

		@include mq(md) {
			display: none;
		}

		&:before {
			content: '';
			inline-size: 12px;
			block-size: 12px;
			@include icon-mask($color: var(--color-achromatic-secondary-400), $image: '/assets/images/common/icon_diamond.svg');
		}

		i {
			position: relative;
			inline-size: 12px;
			block-size: 12px;
			margin-inline-start: auto;

			&:before,
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				background-color: var(--color-achromatic-secondary-900);
				width: 12px;
				height: 1px;
				transform: translate(-50%, -50%) rotate(180deg);
				@include transition();
			}

			&:after {
				transform: translate(-50%, -50%) rotate(90deg);
			}
		}

		&.ui-active {
			color: var(--color-corporate-green);
			background-color: var(--color-chromatic-color-50);

			&:before {
				background-color: var(--color-corporate-green);
			}

			i {
				&:after {
					background-color: var(--color-corporate-green);
					transform: translate(-50%, -50%) rotate(180deg);
				}
			}
		}
	}

	.--panels-panel {
		margin-block: 8px 0;

		@include mq(md) {
			margin-block: 0;
		}
	}

	.--panels-panel-inner {
		@include mq(md) {
		}
	}

	// Transition
	.product-enter-active,
	.product-leave-active {
		@include transition();
		overflow: hidden;

		@include mq(md) {
		}
	}

	.product-enter-to,
	.product-leave-from {
		height: var(--ui-transition-height);

		@include mq(md) {
			height: auto;
			//visibility: visible;
			//opacity: 1;
		}
	}

	.product-enter-from,
	.product-leave-to {
		height: 0;
		//opacity: 1;

		@include mq(md) {
			//height: auto;
			//visibility: hidden;
			//opacity: 1;
		}
	}

	// 各セクション
	.--by-usage {
	}

	.--by-usage__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 24px;
		list-style: none;
		margin: 0;
		padding: 0;

		@include mq(md) {
			grid-template-columns: repeat(3, 1fr);
			gap: 32px;
		}

		@include mq(tab) {
			grid-template-columns: repeat(4, 1fr);
			gap: 40px;
		}
	}

	.--by-usage__item {
		display: grid;
		margin: 0;
		padding: 0;

		&:before {
			display: none;
		}

		a {
			display: grid;
			grid-template-columns: 1fr;
			align-items: start;
			color: inherit;
			@include font-size(14);
			font-weight: 700;
			text-decoration: inherit;
			height: fit-content;
			@include transition();

			@include any-hover {
				&:hover {
					color: var(--color-corporate-green);

					img {
						scale: 1.08;
					}
				}
			}

			figure {
				aspect-ratio: 16 / 9;
				inline-size: 100%;
				block-size: 100%;
				overflow: hidden;

				img {
					@include transition();
					scale: 1;
				}
			}

			p {
				@include font-size(14);
				margin-block: 8px 0;

				@include mq(md) {
					margin-block: 16px 0;
					@include font-size(18);
				}
			}
		}
	}

	.--by-industries {
	}

	.--by-industries__list {
		@include mq(md) {
			grid-template-columns: repeat(2, 1fr);
			gap: 8px;
		}

		@include mq(tab) {
			grid-template-columns: repeat(5, 1fr);
		}
	}

	.--by-industries__list,
	.--by-categories__list {
		display: grid;
		grid-template-columns: 1fr;
		gap: 8px;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.--by-industries__item,
	.--by-categories__item {
		display: grid;
		//line-height: var(--line-height-reset);
		margin: 0;
		padding: 0;

		&:before {
			display: none;
		}

		a {
			display: grid;
			grid-template-columns: 1fr 10px;
			align-items: center;
			gap: 16px;
			color: inherit;
			@include font-size(14);
			font-weight: 700;
			text-decoration: inherit;
			background-color: var(--color-achromatic-50);
			padding-inline: 16px;
			padding-block: 16px;
			@include transition();

			@include mq(tab) {
				@include font-size(18);
			}

			&:after {
				content: '';
				inline-size: 10px;
				block-size: 10px;
				@include icon-mask($color: var(--color-corporate-green), $image: '/assets/images/common/icon_arrow.svg');
			}

			@include any-hover {
				&:hover {
					background-color: var(--color-corporate-yellow);
				}
			}
		}
	}

	.--by-properties {
	}

	.--by-properties__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 16px 8px;
		list-style: none;
		margin: 0;
		padding: 0;

		@include mq(sm) {
			//grid-template-columns: repeat(4, 1fr);
			gap: 16px 16px;
		}

		@include mq(md) {
			grid-template-columns: repeat(6, 1fr);
			gap: 24px 24px;
		}

		@include mq(tab) {
			grid-template-columns: repeat(8, 1fr);
			gap: 40px 24px;
		}
	}

	.--by-properties__item {
		display: grid;
		margin: 0;
		padding: 0;

		&:before {
			display: none;
		}

		a {
			display: grid;
			grid-template-columns: 1fr;
			align-items: start;
			//gap: 16px;
			color: inherit;
			@include font-size(14);
			font-weight: 700;
			text-decoration: inherit;
			height: fit-content;
			@include transition();

			@include any-hover {
				&:hover {
					color: var(--color-corporate-green);
				}
			}

			figure {
				aspect-ratio: 1 / 1;
				//inline-size: 100%;
				//block-size: 100%;
				overflow: hidden;
				background-color: var(--color-achromatic-50);
				padding-inline: 16px;
				padding-block: 16px;

				@include mq(md) {
					padding-inline: 24px;
					padding-block: 24px;
				}

				img {
					aspect-ratio: 1 / 1;
					width: 100%;
					height: auto;
					object-fit: contain;
				}
			}

			p {
				@include font-size(14);
				margin-block: 8px 0;
			}
		}
	}

	.--by-elements {
	}

	.--by-categories {
	}

	.--by-categories__list {
		@include mq(md) {
			grid-template-columns: repeat(2, 1fr);
			gap: 8px;
		}

		@include mq(tab) {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	.--by-keywords {
	}

	.p-product-search__button {
		margin-block: 32px 0;

		@include mq(tab) {
			margin-block: 64px 0;
		}
	}
}
